/*************************
*   Config
*   Rhino Hooton
*   6/29/15
/************************/
/***** compass set *****/
/***** primary colors *****/
/**
 *  @colors monochrome
 */
/**
 *  @colors leidos colors
 */
/**
 *  @colors generic colors
 */
/***** fonts *****/
@font-face {
  font-family: "AvenirLT-Book";
  src: url("/sites/all/themes/leidos/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot"), url("/sites/all/themes/leidos/fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"), url("/sites/all/themes/leidos/fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"), url("/sites/all/themes/leidos/fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
}
@font-face {
  font-family: "AvenirLT-Black";
  src: url("/sites/all/themes/leidos/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix") format("eot"), url("/sites/all/themes/leidos/fonts/5a05cf7f-f332-456f-ae67-d8c26e0d35b3.woff") format("woff"), url("/sites/all/themes/leidos/fonts/c33278bc-988e-440b-b4be-6acc095e6044.ttf") format("truetype"), url("/sites/all/themes/leidos/fonts/7bdad4a5-289b-42f9-b6fa-c5883b9e9f23.svg#7bdad4a5-289b-42f9-b6fa-c5883b9e9f23") format("svg");
}
/***** page *****/
/* body */
/* line 54, sass/_config.scss */
html,
body {
  color: #646464;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: normal;
  height: 100%;
}

/* headers */
/* line 64, sass/_config.scss */
h1,
h2,
h3,
h4,
h5 {
  color: #1F1646;
  font-family: "AvenirLT-Book", Arial, sans-serif;
  font-weight: normal;
}

/* line 74, sass/_config.scss */
h1 {
  font-size: 40px;
}

/* links */
/* line 95, sass/_config.scss */
a {
  color: #850F88;
}
/* line 98, sass/_config.scss */
a:hover {
  color: #1F1646;
  text-decoration: none;
}

/*************************
*   Extends
*   Rhino Hooton
*   6/29/15
/************************/
/*  elements
**************************************************/
/* 100% */
/* line 11, sass/_extends.scss */
#page-wrapper, #page, #header div.section,
#main-wrapper div.section,
#footer-wrapper div.section, #header .section .region-header, #header .section .region-header #block-block-1 {
  margin: 0;
  max-width: 100%;
  min-width: auto;
  width: 100%;
}

/* page width */
/* line 19, sass/_extends.scss */
#header .section .region-header #block-system-main-menu, #header .section .region-header #block-block-1 #search_leidos_website, #main-wrapper #main, #main-wrapper #main #content, #footer-columns {
  margin: 0 auto;
  max-width: 1230px;
  min-width: auto;
  width: 100%;
}

/* header */
/* line 27, sass/_extends.scss */
#header, #header .section, #header .section .region-header, #block-system-main-menu, #block-system-main-menu:after, #block-system-main-menu .content ul li.last span, #block-system-main-menu .content ul li a {
  height: 86px;
}

/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {
  /* header */
  /* line 36, sass/_extends.scss */
  #header, #header .section, #header .section .region-header, #block-system-main-menu, #block-system-main-menu:after, #block-system-main-menu .content ul li.last span, #block-system-main-menu .content ul li a {
    height: 78px;
  }
}
/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
  /* header */
  /* line 46, sass/_extends.scss */
  #header, #header .section, #header .section .region-header, #block-system-main-menu, #block-system-main-menu:after, #block-system-main-menu .content ul li.last span, #block-system-main-menu .content ul li a {
    height: 78px;
  }
}
/*************************
*   Mixins
*   Rhino Hooton
*   6/29/15
/************************/
/*  */
/*************************
*   Body Styles
*   Rhino Hooton
*   6/29/15
/************************/
/*  elements
**************************************************/
/* main wrapper */
/* line 11, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_body.scss */
#main-wrapper {
  background: #E8E8E8;
}

/*  tablet
**************************************************/
/*  mobile
**************************************************/
/*************************
*   Footer Styles
*   Rhino Hooton
*   6/29/15
/************************/
/*  elements
**************************************************/
/* footer wrapper */
/* line 11, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_footer.scss */
#footer-wrapper {
  background: #E8E8E8;
}

/*  tablet
**************************************************/
/*  mobile
**************************************************/
/*************************
*   Header Styles
*   Rhino Hooton
*   6/29/15
/************************/
/*  elements
**************************************************/
/* header */
/* line 11, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_header.scss */
#header {
  background: #fff;
  border-top: 5px solid #850F88;
  border-bottom: 1px solid #D0D0D0;
}
/* line 21, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_header.scss */
#header .section #name-and-slogan {
  display: none;
}
/* line 25, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_header.scss */
#header .section .region-header {
  float: none;
}

/*************************
*   Layout Styles
*   Rhino Hooton
*   6/29/15
/************************/
/*  elements
**************************************************/
/* page */
/*  max page width settings & margin corrections
**************************************************/
/* shared */
/* header specific */
/* header specific */
/* line 53, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_layout.scss */
#main-wrapper #main {
  margin-top: 0;
}
/* line 59, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_layout.scss */
#main-wrapper #main #content .tabs {
  margin-bottom: 0;
}
/* line 62, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_layout.scss */
#main-wrapper #main #content .content {
  margin-top: 0;
}

/* header specific */
/*  tablet
**************************************************/
/*  mobile
**************************************************/
/*************************
*   Miscellaneous Styles
*   Rhino Hooton
*   6/29/15
/************************/
/*  elements
**************************************************/
/* x */
/*  tablet
**************************************************/
/*  mobile
**************************************************/
/*************************
*   Navigation Styles
*   Rhino Hooton
*   6/29/15
/************************/
/*  elements
**************************************************/
/* x */
/*  tablet
**************************************************/
/*  mobile
**************************************************/
/*************************
*   Temporary Styles
*   Rhino Hooton
*   6/29/15
/************************/
/*  elements
**************************************************/
/* x */
/*  tablet
**************************************************/
/*  mobile
**************************************************/
/*************************
*   Navigation Styles
*   Rhino Hooton
*   6/29/15
/************************/
/*  elements
**************************************************/
/* main menu */
/* line 11, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu {
  border: none;
  display: block;
  position: relative;
  float: none;
  z-index: 2;
}
/* line 19, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu:after {
  background: #E8E8E8;
  content: "";
  display: block;
  overflow: hidden;
  position: absolute;
  right: -500%;
  top: 0;
  width: 500%;
}
/* line 31, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu h2 {
  display: none;
}
/* line 36, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul {
  position: relative;
  width: 100%;
}
/* line 40, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li {
  diplay: block;
  float: left;
  margin: 0 0.75%;
}
/* line 45, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li.first {
  margin-left: 0;
}
/* line 48, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li.first a {
  background: url(../images/leidos-logo.png) no-repeat center center;
  color: transparent;
  font-size: 0;
  width: 170px;
}
/* line 54, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li.first a:hover {
  background: url(../images/leidos-logo.png) no-repeat center center;
}
/* line 63, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li:nth-child(6) a, #block-system-main-menu .content ul li:nth-child(7) a, #block-system-main-menu .content ul li:nth-child(8) a {
  color: #777;
  font-size: 11px;
  line-height: 112px;
}
/* line 70, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li:nth-child(8) {
  margin-right: 0;
}
/* line 74, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li.last {
  margin: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 128px;
}
/* line 82, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li.last:after {
  background: #E8E8E8;
  border: 1px solid #D0D0D0;
  content: "";
  display: block;
  height: 200px;
  left: 12px;
  overflow: hidden;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(27deg);
      -ms-transform: rotate(27deg);
          transform: rotate(27deg);
  width: 300px;
  z-index: 1;
}
/* line 97, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li.last span {
  color: transparent;
  cursor: pointer;
  display: block;
  font-size: 0;
  padding: 0;
  position: relative;
  text-align: right;
  text-transform: uppercase;
  z-index: 2;
}
/* line 109, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li.last span:before {
  background: url("../images/search-glass.png") no-repeat center top transparent;
  content: '';
  height: 24px;
  left: 50%;
  position: absolute;
  top: calc(50% - 6px);
  width: 24px;
  z-index: -1;
}
/* line 122, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li.last span:hover:before,
#block-system-main-menu .content ul li.last span .active:before {
  background-position: center bottom;
}
/* line 130, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li a {
  color: #1F1646;
  display: block;
  font-family: "AvenirLT-Black", Arial, sans-serif;
  font-size: 16px;
  line-height: 108px;
  padding: 0;
  text-transform: uppercase;
}
/* line 140, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li a:hover, #block-system-main-menu .content ul li a.active {
  color: #850F88;
}
/* line 145, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li a.active {
  background: none, url("../images/nav-arrow.svg") no-repeat 50% 0;
}
/* line 151, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-system-main-menu .content ul li.expanded .menu {
  display: none;
}

/* search */
/* line 161, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-block-1 {
  background: white;
  display: block;
  position: absolute;
  top: 87px;
  left: 0;
  z-index: 1;
}
/* line 170, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-block-1.active {
  background: red;
}
/* line 175, C:/xampp/htdocs/leidos-cms/drupal/sites/all/themes/leidos/css/sass/partials/_top-nav.scss */
#block-block-1 .content #search_leidos_website {
  padding: 40px 0px 23px;
}

/*  tablet
**************************************************/
/*  mobile
**************************************************/

/*# sourceMappingURL=main.css.map */