/*************************
*   Body Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* main wrapper */
#main-wrapper {
	background: $color-gray-light;
	z-index: 5;
	position: relative;
}

#content {
	.section,
	.content {
		padding: 0;

		/* page headline & banner */
		.top {
			padding: 0;

			display: none; // waiting to do banner

			.top-banner {
				.pane-title {
				}

				.pane-content {
				}

				.panel-separator {
				}

				.theme-banner-div {
				}
			}
		}

		/* core content wrapper */
		.content-container {
			background: $color-gray-light;

			.panels-flexible-column {

				/* left nav */
				&.content-left {
					z-index: 2;
					position: relative;
				}

				/* page body */
				&.right-container {
					background: $color-white;
					position: relative;
					z-index: 1;

					&:before {
						background: $color-white;
						content: "";
						height:100%;
						left: 100%;
						position: absolute;
						top: 0;
						width: 500%;
						z-index: -1;
					}

					.panels-flexible-column-inside {
						padding: 0;
					}
				}
			}
		}
	}
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {
#content {
	.section,
	.content {
		.top {
			.top-banner {
				.pane-title {
				}

				.pane-content {
				}

				.panel-separator {
				}

				.theme-banner-div {
				}
			}
		}

		/* core content wrapper */
		.content-container {
			background: $color-gray-light;

			.panels-flexible-column {

				/* left nav */
				&.content-left {
					// overflow: hidden;
					min-height: 54px;
				}

				/* page body */
				&.right-container {
					// background: blue;
				}
			}
		}
	}
}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
