/*************************
*   Body Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* main wrapper */
#main-wrapper {
	background: $color-white;
	z-index: 5;
	position: relative;
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
