/*************************
*   Body Styles
*   Rhino Hooton
*   6/29/15
/************************/

/*  elements
**************************************************/
/* main wrapper */
#main-wrapper {
	background: $color-gray-light;
	position: relative;
	z-index: 5;
}

#content {
	.section,
	.content {
		padding: 0;

		/* core content wrapper */
		.content-container {
			background: $color-gray-light;

			.panels-flexible-column {

				/* left nav */
				&.content-left {
					z-index: 3;
					position: relative;
				}

				/* page body */
				&.right-container {
					background: $color-white;
					position: relative;
					z-index: 1;

					&:before {
						background: $color-white;
						content: "";
						height:100%;
						left: 100%;
						position: absolute;
						top: 0;
						width: 500%;
						z-index: -1;
					}

					.panels-flexible-column-inside {
						padding: 0;
					}
				}
			}
		}
	}
}


/*  tablet
**************************************************/
@media only screen /* and (min-width: 721px) */ and (max-width: 960px) {
	#content {
		.section,
		.content {
			/* core content wrapper */
			.content-container {
				background: $color-gray-light;
				position: relative;

				.panels-flexible-column {

					/* left nav */
					&.content-left {
						// overflow: hidden;
						min-height: 54px;
						z-index: 30;
					}

					/* page body */
					&.right-container {
						// background: blue;
					}
				}
			}
		}
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
