/*************************
*   Rotator Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* x */
.pane-announcements-featured-announcements-pane {
	h2 {
		@extend %side-bar-header;
	}

	.view-content {
		.views-row {
			display: block;
			margin-bottom: 20px;
			overflow: hidden;

			.date-display-single {
				color: $color-gray-dark;
				display: block;
				font-size: 11px;
			}

			a {
				font-size: 11px;
				display: block;
			}
		}
	}
}


/*  tablet
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
