/*************************
*   Header Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* header */
#header {
	background: $color-white;
	border-top: 5px solid $color-leidos-purple-light;
	border-bottom: 1px solid $color-gray-medium-light;
	height: 120px;
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
