/*************************
*   Header Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* header */
#header {
	background: $color-white;
	height:unquote("calc(")$header-height unquote("+ 5px)"); // adjusted to compensate for the border
	position: relative;
	z-index: 10;

	.section {
		height:unquote("calc(")$header-height unquote("+ 5px)"); // adjusted to compensate for the border

		// slogan unused, hiding element
		#name-and-slogan {
			display: none;
		}

		.region-header {
			height:unquote("calc(")$header-height unquote("+ 5px)"); // adjusted to compensate for the border
			float: none;
		}
	}
}




/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {
	#header {
		height:unquote("calc(")$header-height-mt unquote("+ 5px)"); // adjusted to compensate for the border

		.section {
			height:unquote("calc(")$header-height-mt unquote("+ 5px)"); // adjusted to compensate for the border

			// slogan unused, hiding element
			#name-and-slogan {
				display: none;
			}

			.region-header {
				height:unquote("calc(")$header-height-mt unquote("+ 5px)"); // adjusted to compensate for the border
			}
		}
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
