/*************************
*   Layout Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
#page-wrapper {
	@extend %full-width;
}

/* page */
#page {
	@extend %full-width;
	overflow: hidden;

	&:after {
		clear: both;
		content: "";
		display: block;
		height: 0;
		overflow: hidden; 
	}
}


/*  max page width settings & margin corrections
**************************************************/
/* shared */
#header,
#main-wrapper,
#footer-wrapper {
	div.section {
		@extend %full-width;
	}
}

/* header specific */
#header {
	@extend %full-width;
	.section {
		.region-header {
			@extend %full-width;

			#block-system-main-menu {
				@extend %full-width;
			}

			#block-block-1 {
				@extend %full-width;
			}
		}
	}
}

/* body specific */
#main-wrapper,
#main,
#content {
	@extend %full-width;
	background: $color-gray-light;
	margin-top: 0;

		.section {
		.tabs {
			margin-bottom: 0;
		}

		.content {
			margin-top: 0;
		}
	}
}

#content {
	.section,
	.content {
		padding: 0;

		.top {
			.top-banner {
				@extend %full-width;
			}
		}

		.content-container {
			@extend %max-width;

			.panels-flexible-column {
				&.content-left {
					width: 240px;

					.inside {
						padding: 0;
						margin: 0;
					}
				} 

				&.right-container {
					// overflow: hidden;  commented for white right cover
					float: right;
					width: calc(100% - 240px);

					.panels-flexible-region {
						.panels-flexible-region-inside {
							padding: 0;
						}

						&.right-rail {
							width: calc(100% - 40px);
							padding: 0 20px 20px;
						}

						&.optional-right-rail {
						}
					}
				}
			}

			.panels-flexible-row {
				padding: 0;
			}
		}
	}
}

.panels-ipe,
.optional-right-rail {
	#content {
		.section,
		.content {
			.content-container {
				.panels-flexible-column {
					&.right-container {
						.panels-flexible-region {
							&.right-rail {
								border-right: 1px solid $color-gray-medium-light;
								margin: 20px 0 0;
								width: calc(100% - 330px);

								.panels-flexible-region-inside {
									padding: 0;
								}
							}

							&.optional-right-rail {
								width: 269px;
								padding: 0 0 20px 20px;
								display: block;
								margin: 20px 0 0;
							}
						}
					}
				}
			}
		}
	}	
}

.panel-flexible {
	.panel-separator {
		display: block;
		overflow: hidden;
	}
}

/* footer specific */
#footer-columns {
	@extend %max-width;
}



/*  tablet
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
	#content {
		.section,
		.content {
			.content-container {
				.panels-flexible-column {
					&.content-left {
						float: none;
						margin: 0;
						max-width: 100%;
						min-width: auto;
						width: 100%;
					} 

					&.right-container {
						float: none;
						margin: 0;
						max-width: 100%;
						min-width: auto;
						width: 100%;
					}
				}
			}
		}
	}

	.optional-right-rail {
		#content {
			.section,
			.content {
				.content-container {
					.panels-flexible-column {
						&.right-container {
							.panels-flexible-region {
								&.right-rail {
									float: none;
									width: calc(100% - 40px);
									padding: 0 20px 20px;

									.panels-flexible-region-inside {
										padding: 0;
									}
								}

								&.optional-right-rail {
									float: none;
									padding: 0 20px;
									width: calc(100% - 40px);
								}
							}
						}
					}
				}
			}
		}	
	}

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
}
