/*************************
*   Layout Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
#page-wrapper {
	@extend %full-width;
}

/* page */
#page {
	@extend %full-width;
}

/*  max page width settings & margin corrections
**************************************************/
/* shared */
#header,
#main-wrapper,
#footer-wrapper {
	div.section {
		@extend %full-width;
	}
}

/* header specific */
#header {
	@extend %full-width;
	.section {
		.region-header {
			@extend %full-width;

			#block-system-main-menu {
				@extend %full-width;
			}

			#block-block-1 {
				@extend %full-width;
	
				#search_leidos_website {
					@extend %max-width;
				}
			}
		}
	}
}

/* header specific */
#main-wrapper {
	#main {
		@extend %max-width;
		margin-top: 0;

		#content {
			@extend %max-width;
			.tabs {
				margin-bottom: 0;
			}
			.content {
				margin-top: 0;
			}
		}	
	}
}

/* header specific */
#footer-columns {
	@extend %max-width;
}



/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
