/*************************
*   Layout Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
#page-wrapper {
	min-width: auto;
}

/* page */
#page {
	height: 100%;
}

/* max page width settings & drupal margin corrections */
#header,
#main-wrapper,
#footer-wrapper {
	div.section {
		@extend %max-width;
	}
}
#main-wrapper {
	#main {
		@extend %max-width;
		margin-top: 0;

		#content {
			@extend %max-width;
			.tabs {
				margin-bottom: 0;
			}
			.content {
				margin-top: 0;
			}
		}	
	}
}
#footer-columns {
	@extend %max-width;
}



/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
