/*************************
*   Miscellaneous Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* hr */
hr {
	background: transparent url("../images/diagonal-repeat.png") repeat-x scroll left bottom;
	border: 0px none;
	clear: both;
	display: block;
	height: 0;
	margin-top: 20px;
	padding-bottom: 6px;
	width: 100%;
	overflow: hidden;

	&.simple {
		background: none;
		border-bottom: 1px solid $color-gray-medium-light;
		height: 0px;
		margin: 18px 0 20px;
		max-width: 100%;
	}
}


/* resets */
.panels-flexible-region-industry_template-optional_rotator {
	float: none;
	width: 100%;
}

.field-collection-view,
.field-collection-container {
	border: none;
	margin: 0;
	padding: 0;

	.field-items {
		.field-item {
			margin-bottom: 0px;
		}
	}
}

.node-teaser {
	border: none;
	margin: 0;
	padding: 0;
}

.panels-flexible-industry_template-inside {
	position: relative;
}


.panel-flexible .panel-separator {
	padding: 0;
	margin: 0;
}


/* remove header */
#page-title {
	display: none;
}


/* subtext style for opten html use */
p {
	&.subtext {
		font-size: 11px;
	}
}

.ctools-modal-content .ds-4col > .group-first {
	width: auto !important;
}

.lightbox {
	display: block;
	position: fixed;
	top: -9999px;
	left: -9999px;
	opacity: 0;
	width: 100%;
	height: 100%;
	z-index: 20;
	background: rgba(32,23,71,0.9);
	transition: opacity 0.5s ease;

	&.show {
		opacity: 1;
		left: 0;
		top: 0
	}

	.lb-box {
		display: block;
		position: relative;
		margin: 0 auto;
		transform: translateY(-50%);
		top: 50%;
		width: 600px;
		text-align: center;
		-webkit-backface-visibility: hidden;

		@media only screen and (max-width: 960px) {
			width: 88%;
			max-width: 600px;
		}

		.lb-box-content {
			padding: 75px 50px 150px;
			background: #FFF url('../images/vertices-lightbox-wide.png') right bottom no-repeat;

			@media only screen and (max-width: 960px) {
				background-position: center bottom;
			}

			@media only screen and (max-width: 600px) {
				padding: 75px 15px 120px;
			}

			@media only screen and (max-width: 390px) {
				background-position: -260px bottom;
				padding-bottom: 75px;
			}
		}

		.lb-close {
			display: block;
			position: absolute;
			top: 20px;
			right: 20px;
			color: #850F88;
			font-family: "AvenirLT-Book", Arial, sans-serif;
			cursor: pointer;

			.x-icon {
				position: relative;
				display: inline-block;
				width: 15px;
				height: 15px;
				overflow: hidden;
				top: 2px;
				margin-left: 8px;
				background: url('../images/close-x-purple.png') left top no-repeat;
			}

			&:hover {
				color: $color-leidos-purple-dark;

				.x-icon {
					background-position: left bottom;
				}
			}
		}

		h3.lb-title {
			font-size: 28px;
			color: #201747;
			line-height: 31px;
			margin: 0 0 35px;
			font-family: "AvenirLT-Book", Arial, sans-serif;

			@media only screen and (max-width: 960px) {
				font-size: 24px;
				line-height: 30px;
				margin-bottom: 20px;
			}
		}

		.lb-continue-link {
			font-size: 16px;
			font-family: "AvenirLT-Book", Arial, sans-serif;
			margin: 0 0 16px 0;
			display: inline-block;
		}

		.lb-info-msg {
			display: block;
			font-size: 13px;
			font-family: "AvenirLT-Book", Arial, sans-serif;

			@media only screen and (max-width: 960px) {
				padding: 0 20px;
			}
		}
	}
}


/* cta */
.views-field-field-rotator-link {
    max-height: 32px;
    padding: 0 20px 10px 20px;

    a {
        background-color: #3B1363;
        background-image: -o-linear-gradient(right, #3B1363 0%, #3B1363 100%);
        background-image: -webkit-linear-gradient(right, #3B1363 0%, #3B1363 100%);
        background-image: linear-gradient(to left, #3B1363 0%, #3B1363 100%);
        color: $color-white;
        display: inline-block;
        font-family: "AvenirLT-Black", Arial, sans-serif;
        font-size: 11px;
        font-weight: normal;
        line-height: 16px;
        margin: 0px;
        padding: 8px 10px;
        text-align: center;
        text-transform: uppercase;
        white-space: nowrap;
        width: auto;

        &:hover {
            background-image: -o-linear-gradient(right, #7B1F7F 0%, #3B1363 100%);
            background-image: -webkit-linear-gradient(right, #7B1F7F 0%, #3B1363 100%);
            background-image: linear-gradient(to left, #7B1F7F 0%, #3B1363 100%);
            color: $color-leidos-purple-soft-light;
        }
    }
}


/* new CTA */
.flexible-template-content,
.entity-field-collection-item {
    .field-name-field-cta,
    .views-field-field-cta,
    .hero-rotator-inner {
        text-align: center;

        a {
            border: 1px solid $color-white;
            color: $color-white;
            display: inline-block;
            font-size: 19px;
            margin: 0 auto;
            padding: 1.15vw 2.85vw;
            position: relative;
            z-index: 1;

            &:before {
                background: $color-white;
                content: '';
                display: block;
                height: 100%;
                left: 0;
                opacity: .15;
                position: absolute;
                top: 0;
                transition: all .5s ease;
                width: 100%;
                z-index: -1;
            }

            &:hover {
                &:before {
                    opacity: .45;
                    transition: all .5s ease;
                }
            }
        }
    }
}

.cta-color-button {
    .flexible-template-content,
    .entity-field-collection-item {
        .field-name-field-cta,
        .views-field-field-cta,
        .hero-rotator-inner {
            text-align: center;

            a {
                border: 1px solid transparent;
                color: $color-white;
                display: inline-block;
                font-size: 19px;
                margin: 0 auto;
                padding: 1.15vw 2.85vw;
                position: relative;
                z-index: 1;

                &:before {
                    background: #3B1363;
                    background-image: linear-gradient(to left, #3B1363 0%, #3B1363 100%);
                    content: '';
                    display: block;
                    height: 100%;
                    left: 0;
                    opacity: 1;
                    position: absolute;
                    top: 0;
                    transition: all .5s ease;
                    width: 100%;
                    z-index: -1;
                }

                &:hover {
                    color: $color-leidos-purple-soft-light;

                    &:before {
                        background: #7B1F7F;
                        background-image: linear-gradient(to left, #7B1F7F 0%, #3B1363 100%);
                        opacity: 1;
                        transition: all .5s ease;
                    }
                }
            }
        }
    }
}



/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
