/*************************
*   Miscellaneous Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* hr */
hr {
	background: transparent url("../images/diagonal-repeat.png") repeat-x scroll left bottom;
	border: 0px none;
	clear: both;
	display: block;
	height: 0;
	margin-top: 20px;
	padding-bottom: 6px;
	width: 100%;
	overflow: hidden;

	&.simple {
		background: none;
		border-bottom: 1px solid $color-gray-medium-light;
		height: 0px;
		margin: 18px 0 20px;
		max-width: 100%;
	}
}


/* resets */
.panels-flexible-region-industry_template-optional_rotator {
	float: none;
	width: 100%;
}

.field-collection-view,
.field-collection-container {
	border: none;
	margin: 0;
	padding: 0;

	.field-items {
		.field-item {
			margin-bottom: 0px;
		}
	}
}

.node-teaser {
	border: none;
	margin: 0;
	padding: 0;	
}

.panels-flexible-industry_template-inside {
	position: relative;
}


.panel-flexible .panel-separator {
	padding: 0;
	margin: 0;
}


/* remove header */
#page-title {
	display: none;
}


/* subtext style for opten html use */
p {
	&.subtext {
		font-size: 11px;
	}
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
