/*************************
*   Rotator Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* x */
.panels-flexible-region-industry_template-optional_rotator {
	width: 100%;
	height: 274px;
	background: blue;
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
