/*************************
*   Navigation Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/*  */
.left-navigation-menu {
	position: relative;
	width: 100%;

	h2 {
		display: none;
	}

	span {
		background: $color-white;
		border-bottom: 1px solid $color-gray-medium-light;
		border-right: 0;
		border-top: 1px solid $color-white;
		clear: left;
		color: $color-leidos-purple-dark;
		display: none;
		font-family: "AvenirLT-Black", Arial, sans-serif;
		font-size: 12px;
		line-height: auto;
		outline: none;
		padding: 17px 30px;
		position: relative;
		text-transform: uppercase;
		width: calc(100% - 60px);

		&:before {
			background: transparent url("../images/nav-arrow.png") no-repeat scroll center center;
			background-size: 60% auto;
			content: "";
			height:25px;
			position: absolute;
			right: 30px;
			top: calc(50% - 12.5px);
			transform: rotate(180deg);
			transition: transform .25s ease 0s;
			width: 38px;
			z-index: 1;
		}

		&.mobile-drop-active {
			&:before {
				transform: rotate(0deg);				
			}
		}
	}

	.parent-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 500%;

		&:before {
			background: transparent url("../images/left-nav-side-shadow.png") no-repeat scroll right 0px;
			content: "";
			height: 305px;
			pointer-events: none;
			position: absolute;
			right: 0px;
			top: -50px;
			width: 35px;
			z-index: 4;
		}

		li {
			diplay: block;
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
			transition: all .25s ease 0s;
			width: 100%;
			z-index: 1;

			&:before {
				background: transparent url("../images/left-nav-shadow.png") no-repeat scroll right bottom;
				bottom: -30px;
				content: "";
				height: 30px;
				opacity: 0;
				pointer-events: none;
				position: absolute;
				right: 0px;
				transition: opacity .25s ease 0s;
				width: 271px;
			}

			&:after {
				clear: both;
				content: "";
				display: block;
				height: 0;
				overflow: hidden; 
			}

			/* menu sections */
			> a {
				border-bottom: 1px solid $color-gray-medium-light;
				border-right: 5px solid $color-gray-light;
				border-top: 1px solid $color-white;
				clear: both;
				color: $color-leidos-purple-dark;
				display: block;
				float: right;
				font-family: "AvenirLT-Black", Arial, sans-serif;
				font-size: 12px;
				line-height: auto;
				outline: none;
				padding: 17px 20px 17px 400%;
				position: relative;
				text-transform: uppercase;
				width: 145px;
			}

			&:hover,
			&.hover,
			&.active-trail {
				background: $color-white;
				z-index: 3;

				&:before {
					opacity: 1;
				}

				> a {
					border-right: 5px solid $color-leidos-purple-light;
					color: $color-leidos-purple-light;
				}
			}

			&:hover,
			&.hover {
				.no-children {
					max-height: 1000px;
				}
			}

			/***** sub menus *****/
			.no-children {
				background: $color-leidos-purple-soft-light;
				clear: both;
				display: block;
				margin: 0;
				max-height: 0px;
				overflow: hidden;
				padding: 0;
				transition: all .25s ease 0s;
				width: 100%;
				z-index: 1;

				li {
					background: transparent;

					&:before {
						display: none;
					}

					a {
						border-bottom: 1px solid $color-leidos-purple-soft-dark;
						border-right: 0;
						border-top: 1px solid $color-leidos-purple-soft-medium;
						color: $color-leidos-purple-dark;
						font-size: 11px;
						width: 135px;

						&:hover,
						.active {
							border-bottom: 1px solid $color-white;
							color: $color-leidos-purple-light;
						}
					}
				}
			}
		}
	}
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {
	.left-navigation-menu {

		span {
			display: block;
		}

		.parent-menu {
			background: $color-gray-light;
			height: 100vh;
			max-height: 0;
			overflow: hidden;
			right: 0;
			top: auto;
			transition: all .25s ease 0s;
			width: 100%;
			z-index: 10;

			&.mobile-drop-active {
				max-height: 1000px;
				overflow: visible;
			}

			li {
				/* menu sections */
				> a {
					border-right: 0;
					clear: left;
					display: block;
					float: left;
					padding: 17px 30px;
					width: calc(100% - 60px);
				}

				&.expanded {
					> a {
						width: calc(80% - 60px);
					}

					> span {
						background: transparent;
						border-bottom: 1px solid $color-gray-medium-light;
						border-right: 0;
						border-top: 1px solid $color-white;
						clear: right;
						color: transparent;
						cursor: pointer;
						display: block;
						float: right;
						font-size: 0px;
						height: 52px;
						padding: 0;
						position: relative;
						width: 20%;
						z-index: 20;

						&:before {
							background: transparent url("../images/nav-arrow.png") no-repeat scroll center center;
							background-size: 60% auto;
							content: "";
							height:25px;
							position: absolute;
							right: 30px;
							top: calc(50% - 12.5px);
							transform: rotate(90deg);
							transition: transform .25s ease 0s;
							width: 38px;
							z-index: -1;
						}
					}

					&.mobile-active {
						> span {
							position: relative;
							right: -100%;
							top: -$side-nav-height;
							width: 100%;
							z-index: 11;

							&:before {
								left: 30px;
								transform: rotate(270deg);
							}
						}

						&:nth-child(2) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 2)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 1)");
							}
						}

						&:nth-child(3) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 3)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 2)");
							}
						}

						&:nth-child(4) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 4)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 3)");
							}
						}

						&:nth-child(5) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 5)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 4)");
							}
						}

						&:nth-child(6) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 6)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 5)");
							}
						}

						&:nth-child(7) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 7)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 6)");
							}
						}

						&:nth-child(8) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 8)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 7)");
							}
						}
					}
				}

				&:hover,
				&.hover,
				&.active-trail {
					> a {
						border-right: 0px;
					}
				}

				/***** sub menus *****/
				.no-children {
					display: block;
					opacity: 0;
					max-height: 1000px;
					transition: all .25s ease 0s;
					position: absolute;
					top: 0;
					right: -100%;
					padding-top: 54px;
					height: 100vh;
					background: $color-leidos-purple-soft-light;
					z-index: 10;


					li {
						a {
							width: calc(100% - 40px);
						}
					}
				}

				&.mobile-active {
					.no-children {
						opacity: 1;
					}
				}
			}

			&.parent-shift {
				right: 100%;
			}
		}
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
	.left-navigation-menu {

		span {
			display: block;
		}

		.parent-menu {
			background: $color-gray-light;
			height: 100vh;
			max-height: 0;
			overflow: hidden;
			right: 0;
			top: auto;
			transition: all .25s ease 0s;
			width: 100%;
			z-index: 10;

			&.mobile-drop-active {
				max-height: 1000px;
				overflow: visible;
			}

			li {
				/* menu sections */
				> a {
					border-right: 0;
					clear: left;
					display: block;
					float: left;
					padding: 17px 30px;
					width: calc(100% - 60px);
				}

				&.expanded {
					> a {
						width: calc(80% - 60px);
					}

					> span {
						background: transparent;
						border-bottom: 1px solid $color-gray-medium-light;
						border-right: 0;
						border-top: 1px solid $color-white;
						clear: right;
						color: transparent;
						cursor: pointer;
						display: block;
						float: right;
						font-size: 0px;
						height: 52px;
						padding: 0;
						position: relative;
						width: 20%;
						z-index: 20;

						&:before {
							background: transparent url("../images/nav-arrow.png") no-repeat scroll center center;
							background-size: 60% auto;
							content: "";
							height:25px;
							position: absolute;
							right: 30px;
							top: calc(50% - 12.5px);
							transform: rotate(90deg);
							transition: transform .25s ease 0s;
							width: 38px;
							z-index: -1;
						}
					}

					&.mobile-active {
						> span {
							position: relative;
							right: -100%;
							top: -$side-nav-height;
							width: 100%;
							z-index: 11;

							&:before {
								left: 30px;
								transform: rotate(270deg);
							}
						}

						&:nth-child(2) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 2)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 1)");
							}
						}

						&:nth-child(3) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 3)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 2)");
							}
						}

						&:nth-child(4) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 4)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 3)");
							}
						}

						&:nth-child(5) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 5)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 4)");
							}
						}

						&:nth-child(6) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 6)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 5)");
							}
						}

						&:nth-child(7) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 7)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 6)");
							}
						}

						&:nth-child(8) {
							span {
								top:unquote("calc(")-$side-nav-height unquote("* 8)");
							}
							.no-children {
								top:unquote("calc(")-$side-nav-height unquote("* 7)");
							}
						}
					}
				}

				&:hover,
				&.hover,
				&.active-trail {
					> a {
						border-right: 0px;
					}
				}

				/***** sub menus *****/
				.no-children {
					display: block;
					opacity: 0;
					max-height: 1000px;
					transition: all .25s ease 0s;
					position: absolute;
					top: 0;
					right: -100%;
					padding-top: 54px;
					height: 100vh;
					background: $color-leidos-purple-soft-light;
					z-index: 10;


					li {
						a {
							width: calc(100% - 40px);
						}
					}
				}

				&.mobile-active {
					.no-children {
						opacity: 1;
					}
				}
			}

			&.parent-shift {
				right: 100%;
			}
		}
	}
}
