/*************************
*   Navigation Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
.left-navigation-menu {
	min-height: 668px;
	position: relative;
	width: 100%;
	z-index: 10;

	h2 {
		display: none;
	}

	.additional-control {
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+84,e8e8e8+100 */
		background: #ffffff; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI4NCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
		background: -moz-linear-gradient(top,  #ffffff 50%, #e8e8e8 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#ffffff), color-stop(100%,#e8e8e8)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffffff 50%,#e8e8e8 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffffff 50%,#e8e8e8 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffffff 50%,#e8e8e8 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffffff 50%,#e8e8e8 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 ); /* IE6-8 */

		border-bottom: 1px solid $color-gray-medium-light;
		border-right: 0;
		border-top: 1px solid $color-white;
		clear: left;
		color: $color-leidos-purple-dark;
		display: none;
		font-family: "AvenirLT-Black", Arial, sans-serif;
		font-size: 12px;
		line-height: auto;
		outline: none;
		padding: 17px 30px;
		position: relative;
		text-transform: uppercase;
		width: calc(100% - 60px);

		&:before {
			background: transparent url("../images/nav-arrow.png") no-repeat scroll center center;
			background-size: 60% auto;
			content: "";
			height:25px;
			position: absolute;
			right: 30px;
			top: calc(50% - 12.5px);
			transform: rotate(180deg);
			transition: transform .25s ease 0s;
			width: 38px;
			z-index: 1;
		}

		&.mobile-drop-active {
			&:before {
				transform: rotate(0deg);				
			}
		}
	}

	.additional-info {
		display: none;
	}

	#left-nav-menu {
		list-style: none;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: 500%;

		&:before {
			background: transparent url("../images/left-nav-side-shadow.png") no-repeat scroll right 0px;
			content: "";
			height: 305px;
			pointer-events: none;
			position: absolute;
			right: 0px;
			top: -50px;
			width: 35px;
			z-index: 4;
		}

		li {
			diplay: block;
			list-style: none;
			margin: 0;
			padding: 0;
			position: relative;
			transition: all .25s ease 0s;
			width: 100%;
			z-index: 1;

			&:before {
				background: transparent url("../images/left-nav-shadow.png") no-repeat scroll right bottom;
				bottom: -30px;
				content: "";
				height: 30px;
				opacity: 0;
				pointer-events: none;
				position: absolute;
				right: 0px;
				transition: opacity .25s ease 0s;
				width: 271px;
			}

			&:after {
				clear: both;
				content: "";
				display: block;
				height: 0;
				overflow: hidden; 
			}

			/* menu sections */
			> a {
				border-bottom: 1px solid $color-gray-medium-light;
				border-right: 5px solid $color-gray-light;
				border-top: 1px solid $color-white;
				clear: both;
				color: $color-leidos-purple-dark;
				display: block;
				float: right;
				font-family: "AvenirLT-Black", Arial, sans-serif;
				font-size: 12px;
				line-height: auto;
				outline: none;
				padding: 17px 20px 17px 400%;
				position: relative;
				text-transform: uppercase;
				width: 145px;
			}

			/***** sub menus *****/
			.no-children {
				background: $color-leidos-purple-soft-light;
				clear: both;
				display: block;
				margin: 0;
				max-height: 0px;
				overflow: hidden;
				padding: 0;
				transition: all .25s ease 0s;
				width: 100%;
				z-index: 1;

				li {
					background: transparent;

					&:before {
						display: none;
					}

					a {
						border-bottom: 1px solid $color-leidos-purple-soft-dark;
						border-right: 0;
						border-top: 1px solid $color-leidos-purple-soft-medium;
						color: $color-leidos-purple-dark;
						font-size: 11px;
						width: 135px;

						&:hover,
						&.active {
							border-bottom: 1px solid $color-white;
							color: $color-leidos-purple-light;
						}
					}
				}
			}

			&.first {
				> a {
					border-top: none;
				}
			}

			&:hover,
			&.hover,
			&.active-trail {
				background: $color-white;
				z-index: 3;

				&:before {
					opacity: 1;
				}

				> a {
					border-right: 5px solid $color-leidos-purple-light;
					color: $color-leidos-purple-light;
				}

				.no-children {
					max-height: 1000px;
				}
			}
		}
	}
}


/*  tablet
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
	.left-navigation-menu {
		min-height: 54px;

		.additional-control {
			display: block;
			color: $color-leidos-purple-dark;
			transition: color .25s ease 0s;
			cursor: pointer;

			&.mobile-drop-active {
				color: transparent;
			}
		}

		#left-nav-menu {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
			background: #e8e8e8; /* Old browsers */
			/* IE9 SVG, needs conditional override of 'filter' to 'none' */
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background: -moz-linear-gradient(left,  #e8e8e8 95%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, right top, color-stop(95%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
			background: -ms-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
			background: linear-gradient(to right,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
			height: 200vh;
			max-height: 0;
			overflow: hidden;
			right: 0;
			top: auto;
			transition: all .25s ease 0s;
			width: 100%;
			z-index: 10;

			&.mobile-drop-active {
				max-height: 1000px;
				overflow: visible;
			}

			li {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
				background: #e8e8e8; /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-linear-gradient(left,  #e8e8e8 95%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(95%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
				background: linear-gradient(to right,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */

				/* menu sections */
				> a {
					background: transparent;
					border-right: 0;
					clear: left;
					display: block;
					float: left;
					padding: 17px 30px;
					width: calc(100% - 60px);
				}

				&.expanded {
					> a {
							width: calc(80% - 60px);
						}

						> .additional-control {
							background: transparent;
							border-bottom: 1px solid $color-gray-medium-light;
							border-right: 0;
							border-top: 1px solid $color-white;
							clear: right;
							color: transparent;
							cursor: pointer;
							display: block;
							float: right;
							font-size: 0px;
							height: 52px;
							padding: 0;
							position: relative;
							width: 20%;
							z-index: 20;

							&:before {
								background: transparent url("../images/nav-arrow.png") no-repeat scroll center center;
								background-size: 60% auto;
								content: "";
								height:25px;
								position: absolute;
								right: 30px;
								top: calc(50% - 12.5px);
								transform: rotate(90deg);
								transition: transform .25s ease 0s;
								width: 38px;
								z-index: -1;
							}

							&:after {
								display: none;
							}
						}

						&.mobile-active {
							> .additional-control {
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
								background: #e8e8e8; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
								background: -moz-linear-gradient(left,  #e8e8e8 95%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, right top, color-stop(95%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
								background: -ms-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
								background: linear-gradient(to right,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
								clear: both;
								color: $color-black;
								float: none;
								font-size: 14px;
								height: auto;
								padding: 17px 30px 17px 100px;
								position: relative;
								right: -100%;
								top: -$side-nav-height;
								width: calc(100% - 130px);
								z-index: 11;

								&:before {
									left: 30px;
									transform: rotate(270deg);
								}
							}

							> .additional-info {
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
								background: #e8e8e8; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
								background: -moz-linear-gradient(left,  #e8e8e8 95%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, right top, color-stop(95%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
								background: -ms-linear-gradient(left,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
								background: linear-gradient(to right,  #e8e8e8 95%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
								border-bottom: 1px solid $color-gray-medium-light;
								border-top: 1px solid $color-white;
								clear: both;
								color: $color-black;
								display: block;
								font-family: "AvenirLT-Black", Arial, sans-serif;
								font-size: 14px;
								height: auto;
								padding: 17px 30px 17px 100px;
								position: relative;
								right: -100%;
								text-align: left;
								top: -$side-nav-height;
								width: calc(100% - 130px);
								z-index: 11;
								text-transform: uppercase;

							}

							&:nth-child(2) {
								.additional-control {
									top:unquote("calc(")-$side-nav-height unquote("* 1 + 1px)");
								}
								.additional-info {
									top:unquote("calc(")-$side-nav-height unquote("* 1 + 1px)");
								}
								.no-children {
									top:unquote("calc(")-$side-nav-height unquote("* 0 + 1px)");
								}
							}

							&:nth-child(3) {
								.additional-control {
									top:unquote("calc(")-$side-nav-height unquote("* 2 + 1px)");
								}
								.additional-info {
									top:unquote("calc(")-$side-nav-height unquote("* 2 + 1px)");
								}
								.no-children {
									top:unquote("calc(")-$side-nav-height unquote("* 1 + 1px)");
								}
							}

							&:nth-child(4) {
								.additional-control {
									top:unquote("calc(")-$side-nav-height unquote("* 3 + 1px)");
								}
								.additional-info {
									top:unquote("calc(")-$side-nav-height unquote("* 3 + 1px)");
								}
								.no-children {
									top:unquote("calc(")-$side-nav-height unquote("* 2 + 1px)");
								}
							}

							&:nth-child(5) {
								.additional-control {
									top:unquote("calc(")-$side-nav-height unquote("* 4 + 1px)");
								}
								.additional-info {
									top:unquote("calc(")-$side-nav-height unquote("* 4 + 1px)");
								}
								.no-children {
									top:unquote("calc(")-$side-nav-height unquote("* 3 + 1px)");
								}
							}

							&:nth-child(6) {
								.additional-control {
									top:unquote("calc(")-$side-nav-height unquote("* 5 + 1px)");
								}
								.additional-info {
									top:unquote("calc(")-$side-nav-height unquote("* 5 + 1px)");
								}
								.no-children {
									top:unquote("calc(")-$side-nav-height unquote("* 4 + 1px)");
								}
							}

							&:nth-child(7) {
								.additional-control {
									top:unquote("calc(")-$side-nav-height unquote("* 6 + 1px)");
								}
								.additional-info {
									top:unquote("calc(")-$side-nav-height unquote("* 6 + 1px)");
								}
								.no-children {
									top:unquote("calc(")-$side-nav-height unquote("* 5 + 1px)");
								}
							}

							&:nth-child(8) {
								.additional-control {
									top:unquote("calc(")-$side-nav-height unquote("* 7 + 1px)");
								}
								.additional-info {
									top:unquote("calc(")-$side-nav-height unquote("* 7 + 1px)");
								}
								.no-children {
									top:unquote("calc(")-$side-nav-height unquote("* 6 + 1px)");
								}
							}

							&:nth-child(9) {
								.additional-control {
									top:unquote("calc(")-$side-nav-height unquote("* 8 + 1px)");
								}
								.additional-info {
									top:unquote("calc(")-$side-nav-height unquote("* 8 + 1px)");
								}
								.no-children {
									top:unquote("calc(")-$side-nav-height unquote("* 7 + 1px)");
								}
							}

							&:nth-child(10) {
								.additional-control {
									top:unquote("calc(")-$side-nav-height unquote("* 9 + 1px)");
								}
								.additional-info {
									top:unquote("calc(")-$side-nav-height unquote("* 9 + 1px)");
								}
								.no-children {
									top:unquote("calc(")-$side-nav-height unquote("* 8 + 1px)");
								}
							}

							.no-children {
								li {
									a {
										padding: 17px 30px 17px 130px;
										width: calc(100% - 160px)
									}
								}
							}
						}
				}

				&:hover,
				&.hover,
				&.active-trail {
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
					background: #ffffff; /* Old browsers */
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
					background: -moz-linear-gradient(left,  #ffffff 95%, #d9d9d9 98%, #ffffff 101%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, right top, color-stop(95%,#ffffff), color-stop(98%,#d9d9d9), color-stop(101%,#ffffff)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(left,  #ffffff 95%,#d9d9d9 98%,#ffffff 101%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(left,  #ffffff 95%,#d9d9d9 98%,#ffffff 101%); /* Opera 11.10+ */
					background: -ms-linear-gradient(left,  #ffffff 95%,#d9d9d9 98%,#ffffff 101%); /* IE10+ */
					background: linear-gradient(to right,  #ffffff 95%,#d9d9d9 98%,#ffffff 101%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */

					> a {
						border-right: 0px;
					}
				}

				/***** sub menus *****/
				.no-children {
					display: block;
					opacity: 0;
					max-height: 1000px;
					transition: all .25s ease 0s;
					position: absolute;
					top: 0;
					right: -100%;
					padding-top: 114px;
					height: 200vh;
					background: $color-leidos-purple-soft-light;
					z-index: 10;


					li {
						a {
							width: calc(100% - 40px);
						}
					}
				}

				&.mobile-active {
					.no-children {
						opacity: 1;
					}
				}
			}

			&.parent-shift {
				right: 100%;
			}
		}
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
