/*************************
*   Navigation Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  main menu
**************************************************/
#block-system-main-menu {
	@extend %header-data;
	background: $color-white;
	border-bottom: 1px solid $color-gray-medium-light;
	border-top: 5px solid $color-leidos-purple-light;
	position: relative;
	z-index: 2;

	&:before {
		@extend %header-data;
		background: $color-gray-light;
		content: "";
		display: block;
		overflow: hidden;
		position: absolute;
		right: -450%;
		top: 0;
		width: 500%;
		z-index: -1;
	}

	h2 {
		display: none;
	}

	.additional-control {
		background: transparent url("../images/hamburger-bar.png") no-repeat scroll center center / 30px auto;
		clear: both;
		color: transparent;
		cursor: pointer;
		display: none;
		font-family: "AvenirLT-Black", Arial, sans-serif;
		font-size: 0;
		height: $header-height-mt;
		line-height: auto;
		outline: none;
		padding: 0;
		position: relative;
		text-transform: uppercase;
		width: 85px;
		z-index: 21;

		&:before,
		&:after {
			background: transparent url("../images/hamburger-bar.png") no-repeat scroll center center / 30px auto;
			content: "";
			height:25px;
			position: absolute;
			right: calc(50% - 25px);
			transition: all .25s ease 0s;
			width: 50px;
			z-index: 1;
		}

		&:before {
			top: calc(50% - 22px);
			transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}

		&:after {
			top: calc(50% - 3px);
			transform: rotate(0deg);
			-webkit-transform: rotate(0deg);
		}

		&.mobile-drop-active {
			background: none;

			&:before,
			&:after {
				top: calc(50% - 12.5px);
			}

			&:before {
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}

			&:after {
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}
		}
	}

	.additional-info {
		display: none;
	}

	.content {
		@extend %header-data;
		@extend %max-width;
		background: $color-white;
		border: none;
		display: block;
		float: none;
		position: relative;
		z-index: 2;

		a.logo {
			display: none;
		}

		.parent-menu {
			width: 100%;

			li {
				display: block;
				float:left;
				margin: 0;

				@media only screen and (min-width: 961px) {
					&.sub-categories-0,
					&.sub-categories-1,
					&.sub-categories-2, {
						position: relative;
					}

					&:nth-child(2) {
						&.sub-categories-0,
						&.sub-categories-1,
						&.sub-categories-2, {
							& > ul {
								&.parent-menu,
								&.no-children {
									left: 0;
								}
							}
						}
					}

					&:nth-child(3) {
						&.sub-categories-0,
						&.sub-categories-1,
						&.sub-categories-2, {
							& > ul {
								&.parent-menu,
								&.no-children {
									left: 0;
								}
							}
						}
					}

					&:nth-child(4) {
						&.sub-categories-0,
						&.sub-categories-1 {
							& > ul {
								&.parent-menu,
								&.no-children {
									left: 0;
								}
							}
						}
						&.sub-categories-2,
						&.sub-categories-3 {
							position: relative;
							& > ul {
								&.parent-menu,
								&.no-children {
									transform: translateX(-50%);
									margin-left: 50%;
								}
							}
						}
					}

					&:nth-child(5) {
						&.sub-categories-0,
						&.sub-categories-1 {
							& > ul {
								&.parent-menu,
								&.no-children {
									left: 0;
								}
							}
						}
						&.sub-categories-2 {
							& > ul {
								&.parent-menu,
								&.no-children {
									transform: translateX(-50%);
									margin-left: 50%;
								}
							}
						}

						&.sub-categories-3 {
							//position: relative;
							& > ul {
								&.parent-menu,
								&.no-children {
									right: 100px;
									left: auto;
								}
							}
						}
					}

					&:nth-child(6) {
						&.sub-categories-0,
						&.sub-categories-1,
						&.sub-categories-2 {
							& > ul {
								&.parent-menu,
								&.no-children {
									right: 0;
									left: auto;
								}
							}
						}
					}

					&.sub-categories-0,
					&.sub-categories-1 {
						& > ul {
							&.parent-menu,
							&.no-children {
								min-width: 250px;
							}
						}
					}

					&.sub-categories-2 {
						& > ul {
							&.parent-menu,
							&.no-children {
								min-width: calc(400px + 70px);
							}
						}
					}

					&.sub-categories-3 {
						& > ul {
							&.parent-menu,
							&.no-children {
								min-width: 600px;
							}
						}
					}

					&.sub-categories-4 {
						& > ul {
							&.parent-menu,
							&.no-children {
								min-width: 800px;
							}
						}
					}

					&.sub-categories-5 {
						& > ul {
							&.parent-menu,
							&.no-children {
								min-width: 100%;
								& > li {
									width: calc(20% - 20px);

									&.first,
									&.last {
										width: calc(20% - 55px);
									}

									.no-children {
										li {

										}
									}
								}
							}
						}
					}
				}

				// second layer
				ul {
					&.no-children {
						top: 87px;

						li {
							&.category-title,
							&.back-level {
								display: none;
							}
						}
					}
					&.parent-menu {
						display: none;
						position: absolute;
						background: #fff;
						border: 1px solid $color-gray-medium-light;
						min-width: 250px;
						width: auto;
						max-width: 100%;
						left: 0;
						top: 86px;
						padding: 25px 0 40px;

						@media only screen and (min-width: 961px) {
							display: block;
							opacity: 0;
							transition: max-height .5s ease 0s;
							max-height: 0;
							top: -9999px;
						}

						li {
							width: 200px;
							float: left;
							cursor: pointer;
							padding: 0 10px;
							margin: 0;

							&.category-title,
							&.back-level {
								display: none;
							}

							&.first,
							&.last {
								background: 0 none;
								width: 200px;
								position: relative;

								a {
									&:after,
									&:before {
										display: none;
										height: 0;
										width: 0;
									}

									&:hover,
									&.hover {
										background: none;
									}
								}
							}

							&.first {
								padding-left: 25px;
							}

							&.last {
								padding-right: 25px;
							}

							a {
								line-height: 20px;
								height: auto;
								background: none;
								width: auto;
								font-size: 15px;
								padding: 0;
								margin-bottom: 5px;
								color: #1F1646;
								cursor: pointer;
								text-transform: none;
							}
							// third layer
							ul,
							ul.no-children {
								position: relative;
								left: auto;
								top: auto;
								border: 0 none;
								width: auto;

								li {
									width: auto;
									float: none;
									margin: 0;
									padding: 0;

									a {
										margin: 4px 0;
										font-size: 12px;
									}
								}
							}
						}
					}
				}

				&:hover,
				&.hover {
					a {
						@media only screen and (min-width: 961px) {
							background: #FFF;
							color: $color-leidos-purple-light;
						}
					}
					ul {
						&.parent-menu {
							display: block;
							@media only screen and (min-width: 961px) {
								display: block;
								max-height: 500px;
								opacity: 1;
								z-index: 1;
								top: 86px;
							}
							li {
								a {
									&:after,
									&:before {
										display: none;
										height: 0;
										width: 0;
									}
								}
								&:after,
								&:before {
									display: none;
									height: 0;
									width: 0;
								}
							}
						}
					}
				}

				/* menu sections */
				a {
					@extend %header-data;
					color: $color-leidos-purple-dark;
					display: block;
					font-family: "AvenirLT-Black", Arial, sans-serif;
					font-size: 16px;
					line-height: 108px;
					outline: none;
					padding: 0 15px;
					z-index: 2;
					position: relative;
					text-transform: uppercase;

					&.active {
						color: $color-leidos-purple-light;
					}

					&.active {
						//background: none, url("../images/nav-arrow.svg") no-repeat 50% 0;
					}
				}

				/* header logo */
				&.first {
					margin-left: 0;

					a {
						@extend %hide-text;
						background: url(../images/leidos-logo.png) no-repeat center center;
						width: 170px;

						&:hover {
							background: url(../images/leidos-logo.png) no-repeat center center;

							&:before,
							&:after {
								display: none;
							}
						}
					}
				}

				/* search glass menu section */
				&.last {
					margin: 0;
					overflow: hidden;
					position: absolute;
					right: 0;
					top: 0;
					width: 128px;

					@media only screen and (max-width: 1040px) and (min-width: 961px) {
						width: 115px;
					}

					&:after {
						background: $color-gray-light;
						border: 1px solid $color-gray-medium-light;
						content: "";
						display: block;
						height: 200px;
						left: 12px;
						overflow: hidden;
						position: absolute;
						top: 0;
						transform: rotate(27deg);
						-webkit-transform: rotate(27deg);
						width: 300px;
						z-index: 1;
					}

					span {
						&.additional-info,
						&.additional-control {
							@media only screen and (min-width: 961px) {
								display: none;
							}
						}
					}

					span:not(.additional-info):not(.additional-control) {
						@extend %header-data;
						@extend %hide-text;
						cursor: pointer;
						display: block;
						padding: 0;
						position: relative;
						text-align: right;
						text-transform: uppercase;
						z-index: 2;

						&:before {
							background: url("../images/search-glass.png") no-repeat center bottom transparent;
							content: '';
							height: 24px;
							left: 50%;
							position: absolute;
							top: calc(50% - 6px);
							width: 24px;
							z-index: -1;
						}

						&:hover,
						&.search-active {
							&:before {
								background-position: center top;
							}
						}
					}
				}

				/***** sub menus *****/
				.no-children {
					background: $color-gray-light;
					border-left: 1px solid $color-gray-medium-light;
					border-right: 1px solid $color-gray-medium-light;
					display: block;
					left: -10px;
					max-height: 0px;
					overflow: hidden;
					position: absolute;
					top: $header-height;
					opacity: 0;
					transition: max-height .5s ease 0s;
					width: 200px;
					z-index: 1;

					li {
						display: block;
						float: none;
						margin: 0;
						overflow: hidden;
						padding: 0;
						position: relative;
						width: auto;

						a {
							background: none;
							color: transparent;
							display: block;
							font-family: Arial, Helvetica, sans-serif;
							font-size: 12px;
							height: auto;
							line-height: normal;
							margin: 10px 30px;
							padding: 0;
							position: relative;
							text-transform: none;
							width: auto;

							&:hover {
								background: none;
							}

							&:before,
							&:after {
								display: none;
							}
						}

						&:before,
						&:after {
							display: none;
						}

						&.first {
							a {
								margin-top: 20px;
							}
						}

						&.last {
							a {
								margin-bottom: 20px;
							}
						}
					}
				}

				&:hover,
				&.hover {
					a {
						//background: #FFF;
						&:before,
						&:after {
							background: url("../images/tab-shadows.png") no-repeat $color-white;
							content: "";
							height: $header-height;
							position: absolute;
							top: 0;
							width: 5px;
						}

						&:before {
							background-position: left bottom;
							left: -5px;
						}

						&:after {
							background-position: right bottom;
							right: -5px;
						}
					}

					.no-children {
						background: $color-white;
						border-bottom: 1px solid $color-gray-medium-light;
						display: block;
						max-height: 500px;
						z-index: 2;
						opacity: 1;

						li {
							a {
								color: $color-leidos-purple-light;

								&:before {
									background: none;
									//content: '\25e6';
									display: none;
									height: 24px;
									left: -24px;
									line-height: 24px;
									opacity: 0;
									position: absolute;
									text-align: center;
									top: calc(50% - 12px);
									transition: opacity .5s ease;
									width: 24px;
									z-index: -1;
								}

								&:hover {
									color: $color-leidos-purple-dark;

									&:before {
										opacity: 1;
									}
								}
							}
						}
					}
				}
			}

			@media only screen and (min-width: 961px) and (max-width: 1040px) {
				li {
					margin: 0 0.75%;
				}
			}
		}
	}
}

/*  search box
**************************************************/
.block-leidos-custom-search {
	background: $color-gray-light;
	border-bottom: 1px solid $color-gray-medium-light;
	display: block;
	height:unquote("calc(")$search-height unquote("+ 62px)"); // adjusted to compensate for padding
	left:0;
	position: absolute;
	top: -49px;
	transition: top .5s ease 0s;
	z-index: 1;

	@media only screen and (max-width: 960px) {
		height: 0vh;
		transition: height 250ms ease 0s;
	}

	&.search-active {
		top: 92px;

		@media only screen and (max-width: 960px) {
			top: 84px;
			height: 200vh;
		}
	}

	h2 {
		display: none;
	}

	.content {
		height:unquote("calc(")$search-height unquote("+ 62px)"); // adjusted to compensate for padding

		#search_leidos_website {
			@extend %max-width;
			height: $search-height;
			padding: 40px 0px 22px;
			position: relative;

			input[type="text"] {
				background: url("../images/searchbox-search-glass.png") no-repeat 50px -92px $color-gray-light;
				border: none;
				color: $color-gray-medium-light;
				font-family: "AvenirLT-Book", Arial, sans-serif;
				font-size: 70px;
				height: $search-height;
				line-height: $search-height;
				margin: 0;
				outline: none;
				padding: 0 0 0 120px;
				position: relative;
				width: 67%;

				@media only screen and (max-width: 960px) {
					font-size: 32px;
					padding: 0 0 0 80px;
					background-position: 20px -92px;
				}

				&:focus {
					background-position: 20px 10px;
				}
			}

			input[type="submit"] {
				background: transparent url("../images/searchbox-search-glass.png") no-repeat center 10px / 30% auto;
				border: 0;
				color: transparent;
				cursor: pointer;
				display: none;
				font-size: 0px;
				height: 50px;
				margin: 0;
				outline: none;
				padding: 0;
				position: absolute;
				right: 26px;
				text-transform: uppercase;
				top: 46px;
				width: 100px;

				&:hover {
					background-position: center -55px;
				}
			}

			span {
				@extend %hide-text;
				background: url("../images/searchbox-cancel.png") no-repeat center 14px $color-gray-light;
				border: 0;
				cursor: pointer;
				display: block;
				height: $search-height;
				outline: none;
				padding: 0;
				position: absolute;
				right: 20px;
				top: 40px;
				width: $search-height;

				@media only screen and (max-width: 960px) {
					right: 0;
				}

				&:hover {
					background-position: center -88px;
				}
			}
		}
	}
}


/*  tablet
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 20px) {
	/*  main menu
	**************************************************/
	#block-system-main-menu {
		.additional-control {
			display: block;
		}

		.content {
			.parent-menu {
				/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
				background: #e8e8e8; /* Old browsers */
				/* IE9 SVG, needs conditional override of 'filter' to 'none' */
				background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
				background: -moz-linear-gradient(left,  #e8e8e8 93%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, right top, color-stop(93%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
				background: -ms-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
				background: linear-gradient(to right,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
				height: 200vh;
				max-height: 0;
				overflow: hidden;
				padding-top:unquote("calc(")$header-height-mt unquote("+ 1px)");
				position: absolute;
				right: 0;
				top: 0;
				transition: all .25s ease 0s;
				width: 100%;
				z-index: 20;

				&.mobile-drop-active {
					max-height: 1000px;
					overflow: visible;

					&.level-1 {
						right: 100%;
					}
				}

				li {
					/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
					background: #e8e8e8; /* Old browsers */
					/* IE9 SVG, needs conditional override of 'filter' to 'none' */
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
					background: -moz-linear-gradient(left,  #e8e8e8 93%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, right top, color-stop(93%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
					background: -ms-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
					background: linear-gradient(to right,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
					diplay: block;
					float:none;
					list-style: none;
					margin: 0;
					padding: 0;
					position: relative;
					transition: all .25s ease 0s;
					transition: z-index 0s ease 0s;
					width: 100%;
					z-index: 1;

					&:before {
						background: transparent url("../images/left-nav-shadow.png") no-repeat scroll right bottom;
						bottom: -30px;
						content: "";
						height: 30px;
						opacity: 0;
						pointer-events: none;
						position: absolute;
						right: 0px;
						transition: opacity .25s ease 0s;
						width: 271px;
					}

					&:after {
						clear: both;
						content: "";
						display: block;
						height: 0;
						overflow: hidden;
					}

					/* menu sections */
					a {
						border-bottom: 1px solid $color-gray-medium-light;
						border-top: 1px solid $color-white;
						clear: left;
						color: $color-leidos-purple-dark;
						display: block;
						float: left;
						font-family: "AvenirLT-Black", Arial, sans-serif;
						font-size: 14px;
						height: auto;
						line-height: inherit;
						outline: none;
						padding: 17px 30px;
						position: relative;
						text-transform: uppercase;
						width: calc(100% - 60px);

						&:hover,
						&.active {
							&:before,
							&:after {
								background: transparent;
							}
						}
					}

					/* header logo */
					&.first {
						background: $color-white;
						border-bottom: 1px solid $color-gray-medium-light;
						height: $header-height-mt;
						position: absolute;
						right: 0;
						top: 0;
						transition: all .25s ease 0s;

						a {
							border: none;
							float: none;
							height: $header-height-mt;
							margin: 0 auto;
							padding: 0;
							background: url(../images/leidos-logo.png) no-repeat center center;
							width: 170px;

							&:hover {
								z-index: 3;
							}
						}
					}

					&.expanded {
						> a {
							width: calc(80% - 60px);
						}

						> .additional-control {
							background: transparent;
							border-bottom: 1px solid $color-gray-medium-light;
							border-right: 0;
							border-top: 1px solid $color-white;
							clear: right;
							color: transparent;
							cursor: pointer;
							display: block;
							float: right;
							font-size: 0px;
							height: 55px;
							padding: 0;
							position: absolute;;
							width: 100%;
							z-index: 20;

							&:before {
								background: transparent url("../images/nav-arrow.png") no-repeat scroll center center;
								background-size: 60% auto;
								content: "";
								height:25px;
								position: absolute;
								right: 30px;
								top: calc(50% - 12.5px);
								left: auto;
								transform: rotate(90deg);
								-webkit-transform: rotate(90deg);
								transition: transform .25s ease 0s;
								width: 38px;
								z-index: -1;
							}

							&:after {
								display: none;
							}
						}

						&.mobile-active {
							> .additional-control {
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
								background: #e8e8e8; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
								background: -moz-linear-gradient(left,  #e8e8e8 93%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, right top, color-stop(93%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
								background: -ms-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
								background: linear-gradient(to right,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
								clear: both;
								color: $color-black;
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
								float: none;
								font-size: 14px;
								height: auto;
								padding: 17px 30px 17px 60px;
								position: relative;
								right: -100%;
								top: -$sub-nav-mobile-height;
								white-space: nowrap;
								width: calc(100% - 90px);
								z-index: 11;

								&:before {
									left: 20px;
									transform: rotate(270deg);
									-webkit-transform: rotate(270deg);
								}
							}

							> .additional-info {
								/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
								background: #e8e8e8; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
								background: -moz-linear-gradient(left,  #e8e8e8 93%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, right top, color-stop(93%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
								background: -ms-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
								background: linear-gradient(to right,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
								border-bottom: 1px solid $color-gray-medium-light;
								border-top: 1px solid $color-white;
								clear: both;
								color: $color-black;
								display: block;
								font-family: "AvenirLT-Black", Arial, sans-serif;
								font-size: 14px;
								height: auto;
								padding: 17px 30px 17px 30px;
								position: relative;
								right: -100%;
								text-align: left;
								top: -$sub-nav-mobile-height;
								width: calc(100% - 60px);
								z-index: 11;
								text-transform: uppercase;

							}

							/*&:nth-child(2) {
								& > .additional-control {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("- 0px)");
								}
								.additional-info {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("- 0px)");
								}
								.no-children {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 0 + 0px)");
								}
								.parent-menu {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 0 + 0px)");
								}
							}

							&:nth-child(3) {
								& > .additional-control {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 2 - 0px)");
								}
								.additional-info {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 2 - 0px)");
								}
								.no-children {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 1 + 0px)");
								}
								.parent-menu {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 1 + 0px)");
								}
							}

							&:nth-child(4) {
								& > .additional-control {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 3 - 0px)");
								}
								.additional-info {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 3 - 0px)");
								}
								.no-children {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 2 + 0px)");
								}
								.parent-menu {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 2 + 0px)");
								}
							}

							&:nth-child(5) {
								& > .additional-control {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 4 - 0px)");
								}
								.additional-info {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 4 - 0px)");
								}
								.no-children {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 3 + 0px)");
								}
								.parent-menu {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 3 + 0px)");
								}
							}

							&:nth-child(6) {
								& > .additional-control {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 5 - 0px)");
								}
								.additional-info {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 5 - 0px)");
								}
								.no-children {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 4 + 0px)");
								}
								.parent-menu {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 4 + 0px)");
								}
							}

							&:nth-child(7) {
								& > .additional-control {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 6 - 0px)");
								}
								.additional-info {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 6 - 0px)");
								}
								.no-children {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 5 + 0px)");
								}
								.parent-menu {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 5 + 0px)");
								}
							}

							&:nth-child(8) {
								& > .additional-control {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 7 - 0px)");
								}
								.additional-info {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 7 - 0px)");
								}
								.no-children {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 6 - 2px)");
								}
								.parent-menu {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 6 - 2px)");
								}
							}

							&:nth-child(9) {
								& > .additional-control {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 8 + 0px)");
								}
								.additional-info {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 8 + 0px)");
								}
								.no-children {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 7 + 0px)");
								}
								.parent-menu {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 7 + 0px)");
								}
							}

							&:nth-child(10) {
								.additional-control {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 9 + 0px)");
								}
								.additional-info {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 9 + 0px)");
								}
								.no-children {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 8 + 0px)");
								}
								.parent-menu {
									top:unquote("calc(")-$sub-nav-mobile-height unquote("* 8 + 0px)");
								}
							}

							.no-children {
								li {
									a {
										padding: 17px 30px 17px 30px;
										width: calc(100% - 60px)
									}
								}
							}*/
						}
					}

					/* search glass menu section */
					&.last {
						background: transparent;
						right: 0;
						top: 0;
						transition: all .25s ease 0s;
						width: 85px;
						z-index: 5;

						&:after {
							display: none;
						}

						span {
							&.search-active {
								background-color: transparent;

								&:before,
								&:after {
									background: transparent url("../images/hamburger-bar.png") no-repeat scroll center center / 30px auto;
									content: "";
									height:25px;
									left: auto;
									position: absolute;
									right: calc(36% - 25px);
									top: calc(58% - 12.5px);
									width: 50px;
									z-index: 1;
								}

								&:before {
									transform: rotate(45deg);
									-webkit-transform: rotate(45deg);
								}

								&:after {
									transform: rotate(-45deg);
									-webkit-transform: rotate(-45deg);
								}
							}
						}
					}

					/***** sub menus *****/
					.no-children,
					.parent-menu {
						background: $color-leidos-purple-soft-light;
						clear: both;
						display: none;
						height: 200vh;
						left: auto;
						margin: 0;
						max-height: 200vh;
						opacity: 0;
						overflow: hidden;
						padding-top: 114px;
						position: absolute;
						right: -100%;
						top: 0;
						transition: all .25s ease 0s;
						width: 100%;
						z-index: 10;

						.parent-menu,
						.no-children {
							display: block;
							position: fixed;
							top: 84px;
							right: 0;
							padding: 0 0 0 0;
							z-index: 15;
							opacity: 1;
						}


						li {
							background: transparent;

							&:before {
								display: none;
							}

							&.first,
							&.last {
								height: auto;

								a {
									margin: 0;
								}
							}

							ul {
								li {
									right: auto;
									left: auto;
									position: relative;
									height: auto;
									float: none;
									top: auto;
								}
							}

							a {
								border-bottom: 1px solid $color-leidos-purple-soft-dark;
								border-right: 0;
								border-top: 1px solid $color-leidos-purple-soft-medium;
								clear: left;
								color: $color-leidos-purple-light;
								display: block;
								font-family: "AvenirLT-Black", Arial, sans-serif;
								font-size: 11px;
								margin: 0;
								padding: 17px 30px;
								text-transform: uppercase;
								width: calc(100% - 60px);

								&:hover,
								.active {
									border-bottom: 1px solid $color-white;
									color: $color-leidos-purple-dark;
								}
							}
						}
					}

					&:hover,
					&.hover,
					&.active-trail {
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e8e8e8+60,d9d9d9+98,e8e8e8+100 */
						background: #ffffff; /* Old browsers */
						/* IE9 SVG, needs conditional override of 'filter' to 'none' */
						background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
						background: -moz-linear-gradient(left,  #ffffff 93%, #d9d9d9 98%, #ffffff 101%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, right top, color-stop(93%,#ffffff), color-stop(98%,#d9d9d9), color-stop(101%,#ffffff)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(left,  #ffffff 93%,#d9d9d9 98%,#ffffff 101%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(left,  #ffffff 93%,#d9d9d9 98%,#ffffff 101%); /* Opera 11.10+ */
						background: -ms-linear-gradient(left,  #ffffff 93%,#d9d9d9 98%,#ffffff 101%); /* IE10+ */
						background: linear-gradient(to right,  #ffffff 93%,#d9d9d9 98%,#ffffff 101%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-8 */
						z-index: 2;

						&:before {
							opacity: 1;
						}

						&.first,
						&.last {
							&:before {
								opacity: 0;
							}
						}

						a {
							&:before,
							&:after {
								background: transparent;
							}
						}

						.no-children,
						.parent-menu {
							background: $color-leidos-purple-soft-light;
							height: 200vh;
							max-height: 200vh;

							li {
								width: auto;
								float: none;
								margin: 0;
							}
						}
					}

					&.mobile-active {
						position: relative;
						//height: 57px;

						.no-children,
						.parent-menu {
							background: $color-leidos-purple-soft-light;
							display: block;
							height: 200vh;
							opacity: 1;
							width: 100%;
							max-width: none;
							min-width: auto;
							padding: 114px 0 0 0;
							left: auto;
							right: -90%;

							display: block;
							position: fixed;
							top: 84px;
							right: 0;
							padding: 0 0 0 0;
							z-index: 15;
							opacity: 1;

							&.sub-nav-active {
								display: block;
								position: fixed;
								top: 84px;
								right: 0;
								padding: 0 0 0 0;
								z-index: 15;
								opacity: 1;
							}

							li,
							li.first,
							li.last {
								width: auto;
								float: none;
								margin: 0;
								padding: 0;
								height: auto;
								right: auto;
								left: auto;
								top: auto;
								overflow: hidden;
								position: relative;

								a {
									float: none;
									width: auto;
									padding: 17px 0 17px 30px;
									margin-bottom: 0;
									text-transform: uppercase;
									color: $color-leidos-purple-light;
									font-size: 14px;
								}

								.additional-control {
									position: absolute;
									right: 0;
									height: 100%;
									top: 0;
									float: none;
									border-top: 0 none;
									display: none; // temporarirly hide second level arrow
								}

								ul.no-children {
									position: absolute;
								}
							}
						}
					}
				}

				&.parent-shift {
					right: 100%;

					> li {
						&.first {
							right: -100%;
						}

						&.last {
							right: -100%;
						}
					}
				}
			}
		}
	}

	/*  search box
	**************************************************/
	.block-leidos-custom-search {
		height: 0vh; // adjusted to compensate for padding
		top: calc(-200vh + 57px);

		&.search-active {
			top: 83px;
			height: 200vh; // adjusted to compensate for padding
		}

		.content {
			#search_leidos_website {

				input[type="text"] {
					background: none;
					background-color: $color-white;
					border: 1px solid $color-gray-medium-light;
					color: $color-black;
					font-size: 24px;
					height: 60px;
					line-height: 60px;
					margin: 0 20px;
					padding: 0 20px 0 30px;
					width: calc(100% - 90px);
				}

				input[type="submit"] {
					display: block;
				}

				span {
					display: none;
				}
			}
		}
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 960px) {
	#page-wrapper {
		#header {
			#block-system-main-menu {
				overflow: hidden;
				&.show {
					overflow: visible;

					ul.menu {
						max-height: 200vh;
					}
				}
				.content {
					& > .additional-control {
						display: block;
						position: absolute;
						top: 0;
					}

					a.logo {
						background: url(../images/leidos-logo.png) no-repeat center center;
						width: 170px;
						margin: 0 auto;
						position: relative;
						height: 78px;
						display: block;

						text-indent: -9999px;
						overflow: hidden;
					}

					span.search {
						display: block;
						position: absolute;
						right: 0;
						top: 0;
						width: 84px;
						height: 78px;
						cursor: pointer;
						overflow: hidden;

						&:after {
							background: $color-gray-light;
							border: 1px solid $color-gray-medium-light;
							content: "";
							display: block;
							height: 200px;
							left: 12px;
							overflow: hidden;
							position: absolute;
							top: 0;
							transform: rotate(27deg);
							-webkit-transform: rotate(27deg);
							width: 300px;
							z-index: 1;
						}

						&:before {
							background: url("../images/search-glass.png") no-repeat center bottom transparent;
							content: '';
							height: 24px;
							left: 50%;
							position: absolute;
							top: calc(50% - 6px);
							width: 24px;
							z-index: 2;
						}

						&:hover,
						&.search-active {
							&:before {
								background-position: center top;
							}
						}
					}

					// general
					ul.menu {
						width: 100%;
						margin: 0;
						float: none;
						padding: 0;
						max-height: 0vh;
						left: auto;
						top: 0;
						border: 0 none;
						opacity: 1;
						transition: all 250ms ease;

						li {
							width: 100%;
							margin: 0;
							float: none;
							padding: 0;
							position: relative;
							height: 57px;

							a {
								font-family: "AvenirLT-Black",Arial,sans-serif;
								line-height: inherit;
								font-size: 14px;
								height: auto;
								clear: left;
								display: block;
								padding: 17px 30px;
								border-bottom: 1px solid #D0D0D0;
								border-top: 1px solid #fff;
								color: #211748;
								margin: 0;

								&:after,
								&:before {
									display: none;
								}
							}

							&.category-title,
							&.back-level {
								//position: fixed;
								//top: 141px;
								display: block;
								background: #e8e8e8; /* Old browsers */
								/* IE9 SVG, needs conditional override of 'filter' to 'none' */
								background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
								background: -moz-linear-gradient(left,  #e8e8e8 93%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
								background: -webkit-gradient(linear, left top, right top, color-stop(93%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
								background: -webkit-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
								background: -o-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
								background: -ms-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
								background: linear-gradient(to right,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
								filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */

								a {
									color: #211748;
								}
							}

							&.back-level {
								//top: 84px;
								a {
									padding-left: 60px;
									&:before {
										background: transparent url(/sites/all/themes/leidos/images/nav-arrow.png) no-repeat scroll center center;
										background-size: 60% auto;
										position: absolute;
										height: 25px;
										left: 20px;
										opacity: 1;
										top: calc(50% - 12.5px);
										content: " ";
										width: 38px;
										display: block;
										transform: rotate(270deg);
									}
								}
							}

							& > .additional-control {
								background: transparent;
								//border-bottom: 1px solid $color-gray-medium-light;
								border-right: 0;
								//border-top: 1px solid $color-white;
								clear: right;
								color: transparent;
								cursor: pointer;
								display: block;
								float: right;
								font-size: 0px;
								height: 100%;
								top: 0;
								padding: 0;
								position: absolute;;
								width: 100%;
								z-index: 20;

								&:before {
									background: transparent url("../images/nav-arrow.png") no-repeat scroll center center;
									background-size: 60% auto;
									content: "";
									height: 25px;
									position: absolute;
									right: 20px;
									top: calc(50% - 12.5px);
									left: auto;
									transform: rotate(90deg);
									-webkit-transform: rotate(90deg);
									transition: transform .25s ease 0s;
									width: 38px;
									z-index: -1;
								}

								&:after {
									display: none;
								}
							}

							& > ul.menu {
								width: 100%;
								margin: 0;
								float: none;
								//padding: 0;
								max-height: 200vh;
								left: auto;
								top: 0;
								border: 0 none;
								opacity: 1;
							}
						}
					}

					.level-1 {
						max-height: 0;
						overflow: visible;
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						z-index: 20;
						background: #e8e8e8; /* Old browsers */
						/* IE9 SVG, needs conditional override of 'filter' to 'none' */
						background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
						background: -moz-linear-gradient(left,  #e8e8e8 93%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, right top, color-stop(93%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
						background: -ms-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
						background: linear-gradient(to right,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
						height: 200vh;
						padding-top: 78px;

						&.mobile-drop-active {
							max-height: 1000px;
							overflow: visible;
						}

						& > li {
							background: #e8e8e8; /* Old browsers */
							/* IE9 SVG, needs conditional override of 'filter' to 'none' */
							background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI2MCUiIHN0b3AtY29sb3I9IiNlOGU4ZTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OCUiIHN0b3AtY29sb3I9IiNkMWQxZDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZThlOGU4IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
							background: -moz-linear-gradient(left,  #e8e8e8 93%, #d9d9d9 98%, #e8e8e8 101%); /* FF3.6+ */
							background: -webkit-gradient(linear, left top, right top, color-stop(93%,#e8e8e8), color-stop(98%,#d9d9d9), color-stop(101%,#e8e8e8)); /* Chrome,Safari4+ */
							background: -webkit-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Chrome10+,Safari5.1+ */
							background: -o-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* Opera 11.10+ */
							background: -ms-linear-gradient(left,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* IE10+ */
							background: linear-gradient(to right,  #e8e8e8 93%,#d9d9d9 98%,#e8e8e8 101%); /* W3C */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e8e8e8', endColorstr='#e8e8e8',GradientType=1 ); /* IE6-8 */
							width: 100%;
							margin: 0;
							float: none;
							padding: 0;
							list-style: none;
							display: block;

							$h: 57px;
							&.link-2 {
								ul.level-2 {
									top: $h * -1;
								}
							}
							&.link-3 {
								ul.level-2 {
									top: $h * -2;
								}
							}
							&.link-4 {
								ul.level-2 {
									top: $h * -3;
								}
							}
							&.link-5 {
								ul.level-2 {
									top: $h * -4;
								}
							}
							&.link-6 {
								ul.level-2 {
									top: $h * -5;
								}
							}
							&.link-7 {
								ul.level-2 {
									top: $h * -6;
								}
							}
							&.link-8 {
								ul.level-2 {
									top: $h * -7;
								}
							}
							&.link-9 {
								ul.level-2 {
									top: $h * -8;
								}
							}
							&.link-10 {
								ul.level-2 {
									top: $h * -9;
								}
							}

							a {
								color: #1F1646;
							}

							// logo
							&.first {
								background: #fff;
								border-bottom: 1px solid #d0d0d0;
								height: 78px;
								left: 0;
								width: 100%;

								display: none;

								a {
									margin: 0 auto;
									padding: 0;
									border: 0 none;
									height: 100%;
									color: transparent;
								}
							}
							// search
							&.last {
								width: 88px;
								background: transparent;
								display: none;
							}

							&.mobile-active {
								ul.menu {
									z-index: 25;
									height: 200vh;
								}
							}
						}
					}


					ul.level-2 {
						background: #dfd1e0;
						background: -moz-linear-gradient(left,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, right top, color-stop(93%,#dfd1e0), color-stop(98%,#cbbfcd), color-stop(101%,#dfd1e0)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(left,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(left,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* Opera 11.10+ */
						background: -ms-linear-gradient(left,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* IE10+ */
						background: linear-gradient(to right,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* W3C */

						li {
							overflow: visible;
							z-index: 5;

							&:not(.category-title):not(.back-level) {
								& > a {
									border-bottom: 1px solid #c1b3c2;
									border-top: 1px solid #eadceb;
								}
							}

							&.mobile-active {
								z-index: 10;
							}

							$h: 57px;
							&.link-0 {
								ul.level-3 {
									top: $h * -3;
								}
							}
							&.link-1 {
								ul.level-3 {
									top: $h * -4;
								}
							}
							&.link-2 {
								ul.level-3 {
									top: $h * -5;
								}
							}
							&.link-3 {
								ul.level-3 {
									top: $h * -6;
								}
							}
							&.link-4 {
								ul.level-3 {
									top: $h * -3;
								}
							}
							&.link-5 {
								ul.level-3 {
									top: $h * -4;
								}
							}
							&.link-6 {
								ul.level-3 {
									top: $h * -5;
								}
							}
							&.link-7 {
								ul.level-3 {
									top: $h * -6;
								}
							}
							&.link-8 {
								ul.level-2 {
									top: $h * -7;
								}
							}
							&.link-9 {
								ul.level-2 {
									top: $h * -8;
								}
							}
							&.link-10 {
								ul.level-2 {
									top: $h * -9;
								}
							}
							a {
								color: #850F88;
								text-transform: uppercase;
							}
						}
					}

					ul.level-3 {
						width: 100%;
						background: #dfd1e0;
						background: -moz-linear-gradient(left,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* FF3.6+ */
						background: -webkit-gradient(linear, left top, right top, color-stop(93%,#dfd1e0), color-stop(98%,#cbbfcd), color-stop(101%,#dfd1e0)); /* Chrome,Safari4+ */
						background: -webkit-linear-gradient(left,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* Chrome10+,Safari5.1+ */
						background: -o-linear-gradient(left,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* Opera 11.10+ */
						background: -ms-linear-gradient(left,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* IE10+ */
						background: linear-gradient(to right,  #dfd1e0 93%,#cbbfcd 98%,#dfd1e0 101%); /* W3C */

						li {
							&.leaf {
								a {
									color: #850F88;
									text-transform: none;
									font-family: "AvenirLT-Book",Arial,sans-serif;
									border-bottom: 1px solid #baacbb;
									border-top: 1px solid #eadceb;
								}
							}
						}
					}

					&.nav-shift-0 {
						ul.level-1 {
							top: 78px;
							left: 0;

							ul.level-2 {
								left: 100%;

								ul.level-3 {
									top: 84px;
									left: 200%;
								}
							}
						}
					}

					&.nav-shift-1 {
						ul.level-1 {
							left: -100%;
							top: 78px;

							ul.level-2 {
								left: 100%;

								ul.level-3 {
									left: 100%;
								}
							}
						}
					}

					&.nav-shift-2 {
						ul.level-1 {
							left: -200%;
							top: 78px;

							ul.level-2 {
								left: 100%;

								ul.level-3 {
									left: 100%;
								}
							}
						}
					}
				}
			}
			}
		}
}
