/*************************
*   Content Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
.pane-bundle-content,
.pane-bundle-elements-panel-pane {
	clear: both;
	display: block;
	margin: 0 0 20px;
	overflow: hidden;

	.field-name-field-header-title {
		color: $color-leidos-purple-dark;
		font-family: "AvenirLT-Book", Arial, sans-serif;
		font-size: 28px;
		font-weight: normal;
		margin: 0 0 10px 0;
	}

	.pane-content {
		.field-collection-view {
			border-bottom: 1px solid $color-gray-medium-light;
			margin: 0 0 20px 0;
			padding: 0 0 20px 0;
		}

		.field-type-image {
			display: block;
			float: left;
			height: auto;
			margin-right: 20px;
			overflow: hidden;
			position: relative;
			width: 248px;

			img {
				height: auto;
				width: 100%;
			}
		}
	}

	p {
		line-height: 23px;
	}
}


/*  tablet
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
	.pane-bundle-content,
	.pane-bundle-elements-panel-pane {
		.pane-content {
			.field-type-image {
				float: none;
				height: auto;
				margin-right: 0px;
				width: 100%;
				margin-bottom: 20px;
			}
		}
	}
}
