/*************************
*   Featured Announcements Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
.pane-announcements-featured-announcements-pane,
.pane-announcements-full-view-announcements-pane,
.pane-announcements-full-view-announcements-pane-mobile {
	clear: both;
	display: block;
	margin: 0 0 20px;
	overflow: hidden;

	h2 {
		@extend %side-bar-header;
	}

	@media only screen and (min-width: 960px) {
		h2 {
			width: 135px;
		}

		.field-type-link-field {
			position: absolute;
			right: 0;
			top: -30px;
			width: 125px;
		}
	}

	.view-filters {
		background: $color-gray-light;
		margin-bottom: 20px;
		overflow: hidden;
		padding: 20px 0;

		.views-exposed-widgets {
			margin: 0;
			padding: 0 15px;
		}

		#edit-search-wrapper,
		#edit-category-wrapper {
			width: calc(50% - 45px);
		}

		.views-submit-button {
			width: 90px;
		}

		#edit-search-wrapper,
		#edit-category-wrapper,
		.views-submit-button {
			float: left;
			margin: 0;
			padding: 0;

			label {
				text-align: center;
				width: 70px;
			}

			.views-widget {
				width: calc(100% - 80px);
			}

			label,
			.views-widget {
				float: left;
				height: 33px;
				line-height: 33px;
				margin: 0;
				padding: 0;
			}

			.views-widget {
				overflow: hidden;
			}

			input {
				width: calc(100% - 12px);
			}

			select {
				width: 100%;
			}

			label {
				color: $color-black;
				font-family: "AvenirLT-Book", Arial, sans-serif;
				font-size: 12px;
			}

			input[type="text"] {
				margin: 0;
				padding: 6px;
			}

			input[type="submit"] {
				background-color: $color-leidos-purple-light;
				background-image: -o-linear-gradient(right, #7B1F7F 0%, #3B1363 100%);
				background-image: -webkit-linear-gradient(right, #7B1F7F 0%, #3B1363 100%);
				background-image: linear-gradient(to left, #7B1F7F 0%, #3B1363 100%);
				border-radius: 0;
				border: none;
				color: $color-white;
				display: block;
				font-family: "AvenirLT-Black", Arial, sans-serif;
				font-size: 11px;
				font-weight: normal;
				margin: 0px;
				padding: 8px 10px;
				text-transform: uppercase;
				transition: color .5s ease;
				width: 90px;

				&:hover {
					color: $color-leidos-purple-soft-light;
				}
			}
		}
	}

	.view-content {
		position: relative;

		.views-row {
			border-bottom: 1px solid $color-gray-medium-light;
			display: block;
			margin-bottom: 20px;
			overflow: hidden;
			padding-bottom: 20px;

			&:last-child {
				border-bottom: none;
			}

			.date-display-single {
				color: $color-gray-dark;
				display: block;
				font-size: 11px;
			}

			a {
				display: block;
				font-size: 11px;
			}
		}
	}

	.pager-load-more {
		background: $color-gray-light;
		margin: 0 0 20px;
		overflow: hidden;
		padding: 0;

		li {
			padding: 0;

			a {
				color: $color-gray-medium-dark;
				display: block;
				padding: 10px;
				text-align: center;

				&:hover {
					color: $color-black;
				}
			}
		}
	}
}

.right-rail {
	.pane-announcements-featured-announcements-pane,
	.pane-announcements-full-view-announcements-pane,
	.pane-announcements-full-view-announcements-pane-mobile {
		.view-content {
			.views-row {
				.date-display-single {
					font-size: 13px;
					color: $color-leidos-purple-dark;
				}

				a {
					font-size: 13px;
				}
			}
		}
	}
}

.pane-announcements-full-view-announcements-pane {
	display: block;
}

.pane-announcements-full-view-announcements-pane-mobile {
	display: none;
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {
	.pane-announcements-full-view-announcements-pane {
		display: none;
	}

	.pane-announcements-full-view-announcements-pane-mobile {
		display: block;
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
	.pane-announcements-featured-announcements-pane,
	.pane-announcements-full-view-announcements-pane,
	.pane-announcements-full-view-announcements-pane-mobile {
		.view-filters {
			#edit-category-wrapper {
				display: block;
				margin-bottom: 15px;
				overflow: hidden;
			}

			#edit-search-wrapper,
			#edit-category-wrapper,
			.views-submit-button {
				display: block;
				float: none;
				overflow: hidden;
				width: 100%;

				label {
					text-align: left;
					width: 100%;
				}

				.views-widget {
					width: 100%;
				}

				label,
				.views-widget {
					float: none;
				}

				.views-widget {
					display: block;
					overflow: hidden;
				}

				input {
					width: calc(100% - 14px);
				}

				select {
					width: 100%;
					margin-bottom: 15px;
				}

				input[type="submit"] {
					width: 100%;
				}
			}
		}
	}

	.pane-announcements-full-view-announcements-pane {
		display: none;
	}

	.pane-announcements-full-view-announcements-pane-mobile {
		display: block;
	}
}
