/*************************
*   Featured Projects Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* pane */
.pane-projects-featured-projects-pane {
	clear: both;
	display: block;
	margin: 0 0 20px;
	overflow: hidden;

	h2 {
		@extend %side-bar-header;
	}

	.view-content {
		.views-row {
			display: block;
			margin-bottom: 20px;
			overflow: hidden;

			.views-field-title {
				float: right;
				font-size: 11px;
				font-weight: bold;
				width: calc(100% - 145px);
			}

			.views-field-field-main-image {
				background: $color-gray-light;
				float: left;
				height: 73px;
				width: 125px;
			}
		}
	}
}

/* panel */
.pane-bundle-featured-projects-panel {
	margin-top: 20px;

	h2 {
		@extend %side-bar-header;
	}

	.pane-content {
		.field-collection-container {
			border: none;
			margin: 0;

			.field-item {
				display: block;
				margin-bottom: 20px;
				overflow: hidden;

				.field-collection-view  {
					border: none;
					margin: 0;
					padding: 0;

					.field-item {
						float: right;
						font-size: 11px;
						font-weight: bold;
						width: calc(100% - 145px);
					}

					.field-type-image { 
						background: $color-gray-light;
						float: left;
						height: 73px;
						width: 125px;
					}
				}
			}
		}
	}
}

/* right rail */
.optional-right-rail {
	.pane-bundle-featured-projects-panel {
		margin-top: 20px;

		h2 {
			@extend %side-bar-header;
		}

		.pane-content {
			.views-row  {
				border: none;
				margin: 0;
				padding: 0;

				.views-field-title {
					float: right;
					font-size: 11px;
					font-weight: bold;
					width: calc(100% - 145px);
				}

				.views-field-field-main-image { 
					background: $color-gray-light;
					float: left;
					height: 73px;
					width: 125px;
				}
			}
		}
	}
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {
	/* pane */
	.pane-projects-featured-projects-pane {
		border-top: 1px solid $color-gray-medium-light;
		padding-top: 20px;

		h2 {
			color: #1F1646;
			font-family: "AvenirLT-Book",Arial,sans-serif;
			font-size: 24px;
			font-weight: normal;
			margin-bottom: 20px;
			margin-top: 0px;
			text-transform: capitalize;

			a {
				display: block;
			}
		}

		.view-content {
			overflow: hidden;

			.views-row {
				display: block;
				margin-bottom: 20px;
				overflow: hidden;
				width: 49%;
				
				&:nth-child(odd) {
					clear: left;
					float: left;
				}

				&:nth-child(even) {
					clear: right;
					float: right;
				}

				.views-field-title {
					float: none;
					font-size: 11px;
					font-weight: bold;
					width: auto;
				}

				.views-field-field-main-image {
					background: $color-gray-light;
					display: block;
					float: none;
					height: auto;
					margin-bottom: 10px;
					overflow: hidden;
					position: relative;
					width: 100%;

					&:before {
						content: "";
						display: block;
						padding-top: 60%;
						position: relative;
						width: 100%;
					}

					img {
						height: auto;
						left: 0;
						position: absolute;
						top:0;
						width: 100%;
					}
				}
			}
		}
	}

	/* panel */
	.pane-bundle-featured-projects-panel {
		border-top: 1px solid $color-gray-medium-light;
		padding-top: 20px;

		h2 {
			color: #1F1646;
			font-family: "AvenirLT-Book",Arial,sans-serif;
			font-size: 24px;
			font-weight: normal;
			margin-bottom: 20px;
			margin-top: 0px;
			text-transform: capitalize;

			a {
				display: block;
			}
		}

		.pane-content {
			overflow: hidden;

			.field-collection-container {
				.field-item {
					display: block;
					margin-bottom: 20px;
					overflow: hidden;
					width: 49%;
					
					&:nth-child(odd) {
						clear: left;
						float: left;
					}

					&:nth-child(even) {
						clear: right;
						float: right;
					}

					&:nth-child(odd),
					&:nth-child(even) {
						.field-collection-view  {
							.field-item {
								float: none;
								font-size: 11px;
								font-weight: bold;
								margin: 0;
								width: auto;
							}

							.field-type-image {
								background: $color-gray-light;
								display: block;
								float: none;
								height: auto;
								margin-bottom: 10px;
								overflow: hidden;
								position: relative;
								width: 100%;

								&:before {
									content: "";
									display: block;
									padding-top: 60%;
									position: relative;
									width: 100%;
								}

								img {
									height: auto;
									left: 0;
									position: absolute;
									top:0;
									width: 100%;
								}
							}
						}
					}
				}
			}
		}
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
	/* pane */
	.pane-projects-featured-projects-pane {
		border-top: 1px solid $color-gray-medium-light;
		padding-top: 20px;

		h2 {
			color: #1F1646;
			font-family: "AvenirLT-Book",Arial,sans-serif;
			font-size: 24px;
			font-weight: normal;
			margin-bottom: 20px;
			margin-top: 0px;
			text-transform: capitalize;

			a {
				display: block;
			}
		}

		.view-content {
			overflow: hidden;

			.views-row {
				display: block;
				margin-bottom: 20px;
				overflow: hidden;
				width: 100%;

				.views-field-title {
					float: none;
					font-size: 11px;
					font-weight: bold;
					width: 100%;
				}

				.views-field-field-main-image {
					background: $color-gray-light;
					display: block;
					float: none;
					height: auto;
					margin-bottom: 10px;
					position: relative;
					width: 100%;

					&:before {
						content: "";
						display: block;
						padding-top: 60%;
						position: relative;
						width: 100%;
					}

					img {
						height: auto;
						left: 0;
						position: asbsolute;
						top:0;
						width: 100%;
					}
				}
			}
		}
	}

	/* panel */
	.pane-bundle-featured-projects-panel {
		border-top: 1px solid $color-gray-medium-light;
		padding-top: 20px;

		h2 {
			color: #1F1646;
			font-family: "AvenirLT-Book",Arial,sans-serif;
			font-size: 24px;
			font-weight: normal;
			margin-bottom: 20px;
			margin-top: 0px;
			text-transform: capitalize;

			a {
				display: block;
			}
		}

		.pane-content {
			overflow: hidden;

			.field-collection-container {
				.field-item {
					display: block;
					margin-bottom: 20px;
					overflow: hidden;
					width: 100%;
					
					.field-collection-view  {
						.field-item {
							float: none;
							font-size: 11px;
							font-weight: bold;
							margin: 0;
							width: auto;
						}

						.field-type-image {
							background: $color-gray-light;
							display: block;
							float: none;
							height: auto;
							margin-bottom: 10px;
							overflow: hidden;
							position: relative;
							width: 100%;

							&:before {
								content: "";
								display: block;
								padding-top: 60%;
								position: relative;
								width: 100%;
							}

							img {
								height: auto;
								left: 0;
								position: absolute;
								top:0;
								width: 100%;
							}
						}
					}
				}
			}
		}
	}
}
