/*************************
*   Flex Video Styles
*   Rhino Hooton
*   1/1/16
/************************/


/*  elements
**************************************************/
.pane-bundle-multi-column {
	background-repeat: none;
	background-size: 100% auto;
	clear: both;
	display: block;
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;

	.flexible-template-content {
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;

		> h2 {
			// display: none !important;
		}

		/* shared */
		.field-name-field-title-item,
		.field-name-field-subhead,
		.field-name-field-cta {
			position: relative;
			z-index: 2;
		}

		.field-name-field-title-item,
		.field-name-field-subhead,
		.field-name-field-video-tout,
		.field-name-field-background-color,
		.field-name-field-background-image,
		.field-name-field-cta {
			
		}

		.field-name-field-background-color,
		.field-name-field-background-image,
		.field-name-field-cta {
			display: none;
		}

		/* header */
		h1,
		h2,
		h3,
		h4,
		h5 {
			display: block;
			font-weight: 100;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;
			width: 71%;

			p {
				margin: 0;
			}
		}

		/* subhead */
		// .field-name-field-title-item,
		// .field-name-field-subhead {
		// 	display: block;
		// 	overflow: hidden;
		// }

		// .field-name-field-subhead {
		// 	margin: 0 auto 1vw;
		// 	width: 71%;
		// }

		/* video */
		// .field-name-field-background-video {
		// 	display: none;
		// 	height: 100%;
		// 	left: 0;
		// 	position: fixed;
		// 	top: 0;
		// 	width: 100%;
		// 	z-index: 1000;

		// 	&:before {
		// 		background: $color-black;
		// 		content: "";
		// 		display: block;
		// 		height: 100%;
		// 		left: 0;
		// 		opacity: 0.5;
		// 		position: absolute;
		// 		top: 0;
		// 		width: 100%;
		// 	}

		// 	video {
		// 		display: block;
		// 		margin: 0 auto;
		// 		position: relative;
		// 		top: calc(50vh - 360px);
		// 		width: 70%;
		// 		border: 10px solid;
		// 	}
		// }

		/* button close */
		// .button-close {
		// 	display: none;
		// 	height: 60px;
		// 	outline: none;
		// 	position: fixed;
		// 	right: 15%;
		// 	top: calc(50vh - 351px);
		// 	width: 60px;
		// 	z-index: 2000;

		// 	&:before {
		// 		color: $color-white;
		// 		content: "+";
		// 		display: block;
		// 		font-size: 50px;
		// 		height: 100%;
		// 		text-align: center;
		// 		transform: rotate(45deg);
		// 		width: 100%;
		// 	}
		// }

		/* button play */
		// .button-play {
		// 	border-bottom: 1.4vw solid transparent;
		// 	border-left: 2.3vw solid #fff;
		// 	border-top: 1.4vw solid transparent;
		// 	color: transparent;
		// 	content: '';
		// 	cursor: pointer;
		// 	display: block;
		// 	font-size: 0;
		// 	height: 0;
		// 	margin: 2.8vw auto;
		// 	position: relative;
		// 	width: 0;

		// 	&:before {
		// 		background: $color-white;
		// 		border-radius: 50%;
		// 		content: '';
		// 		cursor: pointer;
		// 		display: block;
		// 		height: 6vw;
		// 		left: -4.45vw;
		// 		opacity: .25;
		// 		position: absolute;
		// 		top: -2.98vw;
		// 		transition: all .5s ease;
		// 		width: 6vw;
		// 		z-index: 1;
		// 	}

		// 	&:after {
		// 		background: $color-white;
		// 		border-radius: 50%;
		// 		content: '';
		// 		cursor: pointer;
		// 		display: block;
		// 		height: 5vw;
		// 		left: -4vw;
		// 		opacity: .25;
		// 		position: absolute;
		// 		top: -2.5vw;
		// 		transition: all .5s ease;
		// 		width: 5vw;
		// 		z-index: 1;
		// 	}

		// 	&:hover {
		// 		&:before {
		// 			opacity: .55;
		// 		}
		// 	}
		// }

		/* cta */
		// .field-name-field-cta {
		// 	.field-item {
		// 		text-align: center;
		// 	}

		// 	a {
		// 		border: 1px solid $color-white;
		// 		color: $color-white;
		// 		display: inline-block;
		// 		margin: 0 auto;
		// 		padding: 1.15vw 2.85vw;
		// 		position: relative;
		// 		z-index: 2;
		// 		font-size: 19px;

		// 		&:before {
		// 			background: $color-white;
		// 			content: '';
		// 			display: block;
		// 			height: 100%;
		// 			left: 0;
		// 			opacity: .15;
		// 			position: absolute;
		// 			top: 0;
		// 			transition: all .5s ease;
		// 			width: 100%;
		// 			z-index: 1;
		// 		}

		// 		&:hover {
		// 			&:before {
		// 				opacity: .45;
		// 				transition: all .5s ease;
		// 			}
		// 		}
		// 	}
		// }
	}

	&.multi-column-1,
	&.multi-column-2,
	&.multi-column-3,
	&.multi-column-4 {
		&:before {
			content: "";
			display: block;
			padding-top: 28.9295%;
			position: relative;
			width: 100%;
		}

		.column-0,
		.column-1,
		.column-2,
		.column-3 {
			display: block;
			float: left;
			overflow: hidden;
		}
	}

	&.multi-column-1 {
		background: red;

		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * 8);
				line-height: calcLineHeight($multiBit , 4);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
			}

			h4 {
				font-size: 1.429vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}
		}

		.field-name-field-video-tout {
			
		}

		.field-name-field-background-color {
			
		}

		.field-name-field-background-image {
			
		}

		.field-name-field-cta {
			
		}

		.ds-1col {
			.column-0 {
				clear: both;
				float: none;
				width: 100%;
			}
		}
	}

	&.multi-column-2 {
		background: green;

		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h4 {
				font-size: 1.429vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}
		}

		.field-name-field-video-tout {
			
		}

		.field-name-field-background-color {
			
		}

		.field-name-field-background-image {
			
		}

		.field-name-field-cta {
			
		}

		.ds-1col {
			.column-0 {
				background: purple;
				clear: left;
				width: 50%;
			}

			.column-1 {
				background: pink;
				clear: right;
				width: 50%;
			}
		}
	}

	&.multi-column-3 {
		background: blue;

		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h4 {
				font-size: 1.429vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}
		}

		.field-name-field-video-tout {
			
		}

		.field-name-field-background-color {
			
		}

		.field-name-field-background-image {
			
		}

		.field-name-field-cta {
			
		}

		.ds-1col {
			.column-0 {
				background: purple;
				clear: left;
				width: 33.33%;
			}

			.column-1 {
				background: pink;
				width: 33.33%;
			}

			.column-2 {
				background: yellow;
				clear: right;
				width: 33.33%;
			}
		}
	}

	&.multi-column-4 {
		background: teal;

		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h4 {
				font-size: 1.429vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * );
				// line-height: calcLineHeight($multiBit , );
				margin-bottom: calc(#{$multiBit} * );
				margin-top: calc(#{$multiBit} * );
			}
		}

		.field-name-field-video-tout {
			
		}

		.field-name-field-background-color {
			
		}

		.field-name-field-background-image {
			
		}

		.field-name-field-cta {
			
		}

		.ds-1col {
			.column-0 {
				background: purple;
				clear: left;
				width: 25%;
			}

			.column-1 {
				background: pink;
				width: 25%;
			}

			.column-2 {
				background: yellow;
				width: 25%;
			}

			.column-3 {
				background: gold;
				clear: right;
				width: 25%;
			}
		}
	}
}

/* video open */
// .node-type-flexible-template {
// 	&.video-open {
// 		#header {
// 			z-index: 1;
// 		}

// 		#main-wrapper {
// 			z-index: 100;

// 			.video-container-open {
// 				.button-close,
// 				.field-name-field-background-video {
// 					display: block;
// 				}
// 			}
// 		}
// 	}
// }


/*  tablet & mobile
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
	// .pane-bundle-feature-video {
	// 	background-position: center center;
	// 	background-size: auto 100%;
	// 	margin-bottom: 0;

	// 	&:before {
	// 		display: none;
	// 	}

	// 	.flexible-template-content {
	// 		left: auto;
	// 		position: relative;
	// 		top: auto;
	// 		padding: 40px 0;

	// 		/* header */
	// 		h1,
	// 		h2 {
	// 			margin: 0 40px 15px;
	// 			width: calc(100% - 80px);
	// 		}

	// 		h1 {
	// 			font-size: 60px;
	// 		}

	// 		h2 {
	// 			font-size: 50px;
	// 		}

	// 		h3 {
	// 			font-size: 25px;
	// 		}

	// 		h4 {
	// 			font-size: 20px;
	// 		}

	// 		h5 {
	// 			font-size: 15px;
	// 		}

	// 		/* subhead */
	// 		.field-name-field-title-item,
	// 		.field-name-field-subhead {
	// 			width: calc(100% - 80px);
	// 		}

	// 		/* play button */
	// 		.button-play {
	// 			border-bottom: 30px solid transparent;
	// 			border-left: 50px solid $color-white;
	// 			border-top: 30px solid transparent;
	// 			margin: 80px auto;

	// 			&:before {
	// 				height: 140px;
	// 				left: -100px;
	// 				top: -69px;
	// 				width: 140px;
	// 			}

	// 			&:after {
	// 				height: 120px;
	// 				left: -90px;
	// 				top: -59px;
	// 				width: 120px;
	// 			}
	// 		}

	// 		/* cta */
	// 		.field-name-field-cta {
	// 			a {
	// 				font-size: 45px;
	// 				width: calc(100% - 80px);
	// 			}
	// 		}
	// 	}
	// }
}
