/*************************
*   Flex Video Styles
*   Rhino Hooton
*   1/1/16
/************************/


/*  elements
**************************************************/
.pane-bundle-multi-column,
.pane-bundle-feature-video {
	.flexible-template-content {

		/* video */
		.field-name-field-background-video {
			display: none;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 1000;

			&:before {
				background: $color-black;
				content: "";
				display: block;
				height: 100%;
				left: 0;
				opacity: 0.5;
				position: absolute;
				top: 0;
				width: 100%;
			}

			video {
				display: block;
				margin: 0 auto;
				position: relative;
				top: calc(50vh - 360px);
				width: 70%;
				border: 10px solid;
			}
		}

		/* button close */
		.button-close {
			display: none;
			height: 60px;
			outline: none;
			position: fixed;
			right: 15%;
			top: calc(50vh - 351px);
			width: 60px;
			z-index: 2000;

			&:before {
				color: $color-white;
				content: "+";
				display: block;
				font-size: 50px;
				height: 100%;
				text-align: center;
				transform: rotate(45deg);
				width: 100%;
			}
		}

		/* button play */
		.button-play {
			border-bottom: 1.4vw solid transparent;
			border-left: 2.3vw solid #fff;
			border-top: 1.4vw solid transparent;
			color: transparent;
			content: '';
			cursor: pointer;
			display: block;
			font-size: 0;
			height: 0;
			margin: 0 auto;
			margin-bottom: calc(#{$multiBit} * 5);
			overflow: visible;
			position: relative;
			width: 0;

			&:before {
				background: $color-white;
				border-radius: 50%;
				content: '';
				cursor: pointer;
				display: block;
				height: 6vw;
				left: -4.45vw;
				opacity: .25;
				position: absolute;
				top: -2.98vw;
				transition: all .5s ease;
				width: 6vw;
				z-index: 1;
			}

			&:after {
				background: $color-white;
				border-radius: 50%;
				content: '';
				cursor: pointer;
				display: block;
				height: 5vw;
				left: -4vw;
				opacity: .25;
				position: absolute;
				top: -2.5vw;
				transition: all .5s ease;
				width: 5vw;
				z-index: 1;
			}

			&:hover {
				&:before {
					opacity: .55;
				}
			}
		}
	}
}

/* video open */
.node-type-flexible-template {
	&.video-open {
		#header {
			z-index: 1;
		}

		#main-wrapper {
			z-index: 100;

			.video-container-open {
				.button-close,
				.field-name-field-background-video {
					display: block;
				}
			}
		}
	}
}


/*  tablet & mobile
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
	// .pane-bundle-feature-video {
	// 	background-position: center center;
	// 	background-size: auto 100%;
	// 	margin-bottom: 0;

	// 	&:before {
	// 		display: none;
	// 	}

	// 	.flexible-template-content {
	// 		left: auto;
	// 		position: relative;
	// 		top: auto;
	// 		padding: 40px 0;

	// 		/* header */
	// 		h1,
	// 		h2 {
	// 			margin: 0 40px 15px;
	// 			width: calc(100% - 80px);
	// 		}

	// 		h1 {
	// 			font-size: 60px;
	// 		}

	// 		h2 {
	// 			font-size: 50px;
	// 		}

	// 		h3 {
	// 			font-size: 25px;
	// 		}

	// 		h4 {
	// 			font-size: 20px;
	// 		}

	// 		h5 {
	// 			font-size: 15px;
	// 		}

	// 		/* subhead */
	// 		.field-name-field-title-item,
	// 		.field-name-field-subhead {
	// 			width: calc(100% - 80px);
	// 		}

	// 		/* play button */
	// 		.button-play {
	// 			border-bottom: 30px solid transparent;
	// 			border-left: 50px solid $color-white;
	// 			border-top: 30px solid transparent;
	// 			margin: 80px auto;

	// 			&:before {
	// 				height: 140px;
	// 				left: -100px;
	// 				top: -69px;
	// 				width: 140px;
	// 			}

	// 			&:after {
	// 				height: 120px;
	// 				left: -90px;
	// 				top: -59px;
	// 				width: 120px;
	// 			}
	// 		}

	// 		/* cta */
	// 		.field-name-field-cta {
	// 			a {
	// 				font-size: 45px;
	// 				width: calc(100% - 80px);
	// 			}
	// 		}
	// 	}
	// }
}
