/*************************
*   Flex Video Styles
*   Rhino Hooton
*   1/1/16
/************************/


/*  elements
**************************************************/
.pane-bundle-rotator-hero {
	background-repeat: none;
	background-size: 100% auto;
	clear: both;
	display: block;
	margin-bottom: calc(#{$multiBit} * 2);
	// overflow: hidden;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	.flexible-template-content {
		.flexslider {
			margin: 0;
			border: none;
		}

		.flex-pauseplay,
		.flex-play {
			opacity: 0;
		}

        .views-slideshow-controls-bottom {
          display: none;
        }

		.flexslider-views-slideshow-main-frame {
			margin: 0;
			padding: 0;

			.flexslider_views_slideshow_slide {

			}
		}

		.hero-rotator-outer {
			background-repeat: no-repeat !important;
			background-size: 100% auto !important;

			&:before {
				content: "";
				display: block;
				position: relative;
				width: 100%;
			}

			.hero-rotator-inner {
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}

		/* header */
		h1,
		h2,
		h3,
		h4,
		h5 {
			display: block;
			font-weight: 100;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;

			p {
				margin: 0;
			}
		}

		/* share */
		.views-field-title,
		.views-field-field-subhead,
		// .views-field-field-cta,
		.views-field-field-video-tout {
			clear: both;
			display: block;
			overflow: hidden;
		}

		.views-field-title,
		.views-field-field-subhead,
		.views-field-field-cta,
		.views-field-field-secondary-cta,
		.views-field-field-video-tout {
			margin: 0 auto;
			text-align: center;
			width: 62%;
		}

		.views-field-field-cta {
			a {
				border: 1px solid $color-white;
				color: $color-white;
				display: inline-block;
				font-size: 1.229vw;
				font-weight: 100;
				margin: 0 auto;
				padding: 0.643vw 2.85vw;
				position: relative;
				z-index: 2;

				&:before {
					background: $color-white;
					content: '';
					display: block;
					height: 100%;
					left: 0;
					opacity: .15;
					position: absolute;
					top: 0;
					transition: all .5s ease;
					width: 100%;
					z-index: 1;
				}

				&:hover {
					&:before {
						opacity: .45;
						transition: all .5s ease;
					}
				}
			}
		}
	
		.flex-control-nav {
			bottom: calcLineHeight($multiBit , 3.9);
			margin: 0;
			padding: 0;
			z-index: 2;

			li {

				a {
					border: 1px solid $color-white;
					background: transparent;

					&.flex-active {
						background: $color-white;
					}
				}
			}
		}

		.flex-direction-nav {
			margin: 0;
			padding: 0;
		}

		.flex-nav-prev,
		.flex-nav-next {
			a {
				height: 60px;
				outline: none;

				&:before {
					display: block;
					color: rgba(255, 255, 255, 0.8);
				}
			}
		}

		.views-field-field-secondary-cta,
		.views-field-field-video-tout,
		.views-field-field-background-color,
		.views-field-field-background-image {
			display: none;
		}
	}

	&.rotator-slide-module-height-tall {
		.flexible-template-content {
			.hero-rotator-outer {
				&:before {
					padding-top: 42.858%;
				}

				/* title */
				.views-field-title {
					h1 {
						font-size: 4.3vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 8);
						margin-bottom: calc(#{$multiBit} * 1);
						margin-top: calc(#{$multiBit} * 11);
					}

					h2 {
						font-size: 3.6vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 8);
						margin-bottom: calc(#{$multiBit} * 1);
						margin-top: calc(#{$multiBit} * 11);
					}
				}

				.views-field-field-subhead {
					h3 {
						font-size: 1.786vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 4);
						margin-bottom: calc(#{$multiBit} * 9);
						margin-top: calc(#{$multiBit} * 0);
					}

					h4 {
						font-size: 1.329vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 2.75);
						margin-bottom: calc(#{$multiBit} * 9);
						margin-top: calc(#{$multiBit} * 0);
					}

					h5 {
						font-size: 1.072vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 2);
						margin-bottom: calc(#{$multiBit} * 9);
						margin-top: calc(#{$multiBit} * 0);
					}
				}

				.button-play {
					margin-bottom: calc(#{$multiBit} * 8);
				}
			}
		}
	}

	&.rotator-slide-module-height-short {
		.flexible-template-content {
			.hero-rotator-outer {
				&:before {
					padding-top: 28.929%;
				}

				/* title */
				.views-field-title {
					h1 {
						font-size: 4.3vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 8);
						margin-bottom: calc(#{$multiBit} * 1);
						margin-top: calc(#{$multiBit} * 4);
					}

					h2 {
						font-size: 3.6vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 8);
						margin-bottom: calc(#{$multiBit} * 1);
						margin-top: calc(#{$multiBit} * 4);
					}
				}

				.views-field-field-subhead {
					h3 {
						font-size: 1.786vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 4);
						margin-bottom: calc(#{$multiBit} * 3);
						margin-top: calc(#{$multiBit} * 0);
					}

					h4 {
						font-size: 1.529vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 4);
						margin-bottom: calc(#{$multiBit} * 3);
						margin-top: calc(#{$multiBit} * 0);
					}

					h5 {
						font-size: 1.072vw;
						height: calc(#{$multiBit} * 8);
						line-height: calcLineHeight($multiBit , 2);
						margin-bottom: calc(#{$multiBit} * 3);
						margin-top: calc(#{$multiBit} * 0);
					}
				}

				.button-play {
					border: none !important;
					font-size: 1.229vw !important;
					margin-bottom: calc(#{$multiBit} * 6);
					text-align: center !important;
					text-decoration: underline !important;
					width: 62% !important;

					&:before,
					&:after {
						display: none !important;
					}
				}
			}
		}
	}
}


/*  tablet & mobile
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
	.pane-bundle-rotator-hero {
		.flexible-template-content {

			/* shared */
			.views-field-title,
			.views-field-field-subhead,
			.views-field-field-cta,
			.views-field-field-secondary-cta,
			.views-field-field-video-tout {
				width: 80%;
			}

			/* cta */
			.views-field-field-cta {
				a {
					padding: 2.5vw 13vw;
					font-size: 6.6vw;
				}
			}
		}

		&.rotator-slide-module-height-tall {
			.flexible-template-content {
				.hero-rotator-outer {
					&:before {
						padding-top: 133.263%;
					}

					/* title */
					.views-field-title {
						h1 {
							font-size: 10vw;
							height: calc(#{$multiBit} * 32);
							line-height: calcLineHeight($multiBit , 16);
							margin-bottom: calc(#{$multiBit} * 4);
							margin-top: calc(#{$multiBit} * 16);
						}

						h2 {
							font-size: 8vw;
							height: calc(#{$multiBit} * 32);
							line-height: calcLineHeight($multiBit , 16);
							margin-bottom: calc(#{$multiBit} * 4);
							margin-top: calc(#{$multiBit} * 16);
						}
					}

					.views-field-field-subhead {
						h3 {
							font-size: 6.6vw;
							height: calc(#{$multiBit} * 36);
							line-height: calcLineHeight($multiBit , 12);
							margin-bottom: calc(#{$multiBit} * 28);
							margin-top: calc(#{$multiBit} * 0);
						}

						h4 {
							font-size: 4vw;
							height: calc(#{$multiBit} * 36);
							line-height: calcLineHeight($multiBit , 9);
							margin-bottom: calc(#{$multiBit} * 28);
							margin-top: calc(#{$multiBit} * 0);
						}

						h5 {
							font-size: 3vw;
							height: calc(#{$multiBit} * 36);
							line-height: calcLineHeight($multiBit , 7);
							margin-bottom: calc(#{$multiBit} * 28);
							margin-top: calc(#{$multiBit} * 0);
						}
					}

					.button-play {
						margin-bottom: calc(#{$multiBit} * 20);
					}
				}
			}
		}


		&.rotator-slide-module-height-short {
			.flexible-template-content {
				.hero-rotator-outer {
					&:before {
						padding-top: 106.611%;
					}

					/* title */
					.views-field-title {
						h1 {
							font-size: 10vw;
							height: calc(#{$multiBit} * 32);
							line-height: calcLineHeight($multiBit , 16);
							margin-bottom: calc(#{$multiBit} * 4);
							margin-top: calc(#{$multiBit} * 16);
						}

						h2 {
							font-size: 8vw;
							height: calc(#{$multiBit} * 32);
							line-height: calcLineHeight($multiBit , 16);
							margin-bottom: calc(#{$multiBit} * 4);
							margin-top: calc(#{$multiBit} * 16);
						}
					}

					.views-field-field-subhead {
						h3 {
							font-size: 6.6vw;
							height: calc(#{$multiBit} * 36);
							line-height: calcLineHeight($multiBit , 12);
							margin-bottom: calc(#{$multiBit} * 10);
							margin-top: calc(#{$multiBit} * 0);
						}

						h4 {
							font-size: 4vw;
							height: calc(#{$multiBit} * 36);
							line-height: calcLineHeight($multiBit , 9);
							margin-bottom: calc(#{$multiBit} * 10);
							margin-top: calc(#{$multiBit} * 0);
						}

						h5 {
							font-size: 3vw;
							height: calc(#{$multiBit} * 36);
							line-height: calcLineHeight($multiBit , 7);
							margin-bottom: calc(#{$multiBit} * 10);
							margin-top: calc(#{$multiBit} * 0);
						}
					}

					.button-play {
						font-size: 6.6vw !important;
						width: 90% !important;
						text-align: center !important;
						margin-bottom: calc(#{$multiBit} * 24);
					}
				}
			}
		}
	}
}
