/*************************
*   Flex Video Styles
*   Rhino Hooton
*   1/1/16
/************************/


/*  elements
**************************************************/
.pane-bundle-multi-column {
	background-repeat: none;
	background-size: 100% auto;
	clear: both;
	display: block;
	margin-bottom: calc(#{$multiBit} * 2);
	overflow: hidden;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	.flexible-template-content {

		/* disable fields */
		.field-name-field-background-color,
		.field-name-field-background-image,
		.field-name-field-background-video {
			display: none;
		}

		/* shared */
		.field-name-field-title-item,
		.field-name-field-subhead,
		.button-close,
		.button-play,
		.field-name-field-cta,
		.field-name-field-video-tout {
			clear: both;
			display: block;
			overflow: hidden;
		}

		.field-name-field-title-item,
		.field-name-field-subhead,
		.button-play,
		.field-name-field-cta,
		.field-name-field-video-tout {
			margin: 0 auto;
			text-align: center;
			width: 74%;
		}

		/* fields */
		// .field-name-field-title-item {
		// }

		// .field-name-field-subhead {
		// }

		// .button-close {
		// }

		// .button-play {
		// }

		// .field-name-field-cta {
		// }

		// .field-name-field-video-tout {
		// }

		.button-close,
		.field-name-field-video-tout {
			display: none;
		}

		/* header */
		h1,
		h2,
		h3,
		h4,
		h5 {
			display: block;
			font-weight: 100;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;

			p {
				margin: 0;
			}
		}

		/* cta */
		.field-name-field-cta {
			a {
				border: 1px solid $color-white;
				color: $color-white;
				display: inline-block;
				font-size: 1.229vw;
				font-weight: 100;
				margin: 0 auto;
				padding: 0.643vw 2.85vw;
				position: relative;
				z-index: 2;

				&:before {
					background: $color-white;
					content: '';
					display: block;
					height: 100%;
					left: 0;
					opacity: .15;
					position: absolute;
					top: 0;
					transition: all .5s ease;
					width: 100%;
					z-index: 1;
				}

				&:hover {
					&:before {
						opacity: .45;
						transition: all .5s ease;
					}
				}
			}
		}
	}

	&.multi-column-1,
	&.multi-column-2,
	&.multi-column-3,
	&.multi-column-4 {
		.column-0,
		.column-1,
		.column-2,
		.column-3 {
			display: block;
			float: left;
			overflow: hidden;
			position: relative;

			&:before {
				content: "";
				display: block;
				position: relative;
				width: 100%;
			}

			.ds-1col {
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
	}

	&.multi-column-1 {
		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * 8);
				line-height: calcLineHeight($multiBit , 4);
				margin-bottom: calc(#{$multiBit} * 5);
				margin-top: calc(#{$multiBit} * 0);
			}

			h4 {
				font-size: 1.529vw;
				height: calc(#{$multiBit} * 8);
				line-height: calcLineHeight($multiBit , 4);
				margin-bottom: calc(#{$multiBit} * 5);
				margin-top: calc(#{$multiBit} * 0);
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * 8);
				line-height: calcLineHeight($multiBit , 2);
				margin-bottom: calc(#{$multiBit} * 5);
				margin-top: calc(#{$multiBit} * 0);
			}
		}

		.ds-1col {
			.column-0 {
				background-repeat: no-repeat !important;
				background-size: 100% auto !important;
				background: #294f69;
				clear: both;
				float: none;
				width: 100%;

				&:before {
					padding-top: 28.929%;
				}

				.ds-1col {
					left: 0;
					position: absolute;
					top: 0;
				}
			}
		}
	}

	&.multi-column-2 {
		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 3);
				text-align: left;
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 3);
				text-align: left;
			}

			h3 {
				font-size: 1.6vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 3.5);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 3);
				text-align: left;
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * 15);
				line-height: calcLineHeight($multiBit , 3.75);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
				text-align: left;
			}

			h4 {
				font-size: 1.429vw;
				height: calc(#{$multiBit} * 15);
				line-height: calcLineHeight($multiBit , 3);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
				text-align: left;
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * 15);
				line-height: calcLineHeight($multiBit , 2.15);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
				text-align: left;
			}
		}

		.button-play {
			border: none !important;
			font-size: 1.229vw !important;
			text-align: left !important;
			text-decoration: underline !important;
			width: 74% !important;

			&:before,
			&:after {
				display: none !important;
			}
		}

		.field-name-field-cta {
			text-align: left;
		}

		.ds-1col {
			.column-0,
			.column-1 {
				background-repeat: no-repeat !important;
				background-size: 100% auto !important;
		
				&:before {
					padding-top: 57.858%;
				}
			}

			.column-0 {
				background: #294f69;
				clear: left;
				width: 50%;
			}

			.column-1 {
				background: #3e4a64;
				clear: right;
				width: 50%;
			}
		}
	}

	&.multi-column-3 {
		.field-name-field-title-item {
			h1 {
				font-size: 3.3vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 3);
			}

			h2 {
				font-size: 1.6vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 3.5);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 3);
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * 15);
				line-height: calcLineHeight($multiBit , 3.75);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
			}

			h4 {
				font-size: 1.229vw;
				height: calc(#{$multiBit} * 15);
				line-height: calcLineHeight($multiBit , 3);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
			}

			h5 {
				font-size: 1.000vw;
				height: calc(#{$multiBit} * 15);
				line-height: calcLineHeight($multiBit , 2.15);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
			}
		}

		.button-close {
		}

		.button-play {
			border: none !important;
			font-size: 1.229vw !important;
			text-decoration: underline !important;
			width: 74% !important;

			&:before,
			&:after {
				display: none !important;
			}
		}

		.ds-1col {
			.column-0,
			.column-1,
			.column-2 {
				background-repeat: no-repeat !important;
				background-size: 100% auto !important;

				&:before {
					padding-top: 86.798%;
				}
			}

			.column-0 {
				background: #294f69;
				clear: left;
				width: 33.33%;
			}

			.column-1 {
				background: #3e4a64;
				width: 33.33%;
			}

			.column-2 {
				background: #898b8c;
				clear: right;
				width: 33.33%;
			}
		}
	}

	&.multi-column-4 {
		.field-name-field-title-item {
			h1 {
				font-size: 1.9vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 3.5);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 3);
			}

			h2 {
				font-size: 1.3vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 3.5);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 3);
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.3vw;
				height: calc(#{$multiBit} * 15);
				line-height: calcLineHeight($multiBit , 3);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
			}

			h4 {
				font-size: 1.000vw;
				height: calc(#{$multiBit} * 15);
				line-height: calcLineHeight($multiBit , 2.15);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
			}

			h5 {
				font-size: 0.800vw;
				height: calc(#{$multiBit} * 15);
				line-height: calcLineHeight($multiBit , 2.15);
				margin-bottom: calc(#{$multiBit} * 2);
				margin-top: calc(#{$multiBit} * 0);
			}
		}

		.button-play {
			border: none !important;
			font-size: 1.229vw !important;
			text-decoration: underline !important;
			width: 74% !important;

			&:before,
			&:after {
				display: none !important;
			}
		}

		.ds-1col {
			.column-0,
			.column-1,
			.column-2,
			.column-3 {
				background-repeat: no-repeat !important;
				background-size: 100% auto !important;

				&:before {
					padding-top: 115.717%;
				}
			}

			.column-0 {
				background: #294f69;
				clear: left;
				width: 25%;
			}

			.column-1 {
				background: #3e4a64;
				width: 25%;
			}

			.column-2 {
				background: #898b8c;
				width: 25%;
			}

			.column-3 {
				background: #170c50;
				clear: right;
				width: 25%;
			}
		}
	}
}


/*  tablet & mobile
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
	.pane-bundle-multi-column {
		.flexible-template-content {

			/* shared */
			.field-name-field-title-item,
			.field-name-field-subhead,
			.button-play,
			.field-name-field-cta,
			.field-name-field-video-tout {
				width: 90%;
			}

			/* cta */
			.field-name-field-cta {
				a {
					padding: 2.5vw 13vw;
					font-size: 6.6vw;
				}
			}
		}

		&.multi-column-1 {
			.field-name-field-title-item {
				h1 {
					font-size: 10vw;
					height: calc(#{$multiBit} * 32);
					line-height: calcLineHeight($multiBit , 16);
					margin-bottom: calc(#{$multiBit} * 4);
					margin-top: calc(#{$multiBit} * 16);
				}

				h2 {
					font-size: 8vw;
					height: calc(#{$multiBit} * 32);
					line-height: calcLineHeight($multiBit , 16);
					margin-bottom: calc(#{$multiBit} * 4);
					margin-top: calc(#{$multiBit} * 16);
				}
			}

			.field-name-field-subhead {
				h3 {
					font-size: 6.6vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 12);
					margin-bottom: calc(#{$multiBit} * 28);
					margin-top: calc(#{$multiBit} * 0);
				}

				h4 {
					font-size: 4vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 9);
					margin-bottom: calc(#{$multiBit} * 28);
					margin-top: calc(#{$multiBit} * 0);
				}

				h5 {
					font-size: 3vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 7);
					margin-bottom: calc(#{$multiBit} * 28);
					margin-top: calc(#{$multiBit} * 0);
				}
			}

			.ds-1col {
				.column-0 {
					&:before {
						padding-top: 133.263%;
					}
				}
			}
		}

		&.multi-column-2 {
			.field-name-field-title-item {
				h1 {
					font-size: 6.6vw;
					height: calc(#{$multiBit} * 30);
					line-height: calcLineHeight($multiBit , 14);
					margin-bottom: calc(#{$multiBit} * 6);
					margin-top: calc(#{$multiBit} * 16);
					text-align: center;
				}

				h2 {
					font-size: 5.6vw;
					height: calc(#{$multiBit} * 30);
					line-height: calcLineHeight($multiBit , 14);
					margin-bottom: calc(#{$multiBit} * 6);
					margin-top: calc(#{$multiBit} * 16);
					text-align: center;
				}

				h3 {
					font-size: 4.6vw;
					height: calc(#{$multiBit} * 30);
					line-height: calcLineHeight($multiBit , 14);
					margin-bottom: calc(#{$multiBit} * 6);
					margin-top: calc(#{$multiBit} * 16);
					text-align: center;
				}
			}

			.field-name-field-subhead {
				h3 {
					font-size: 6.6vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 12);
					margin-bottom: calc(#{$multiBit} * 12);
					margin-top: calc(#{$multiBit} * 0);
					text-align: center;
				}

				h4 {
					font-size: 4vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 9);
					margin-bottom: calc(#{$multiBit} * 12);
					margin-top: calc(#{$multiBit} * 0);
					text-align: center;
				}

				h5 {
					font-size: 3vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 7);
					margin-bottom: calc(#{$multiBit} * 12);
					margin-top: calc(#{$multiBit} * 0);
					text-align: center;
				}
			}

			.button-play {
				font-size: 6.6vw !important;
				width: 90% !important;
				text-align: center !important;
			}

			.field-name-field-cta {
				text-align: center;
			}

			.ds-1col {
				.column-0,
				.column-1 {
					float: none;
					width: 100%;

					&:before {
						padding-top: 106.610%;
					}
				}
			}
		}

		&.multi-column-3 {
			.field-name-field-title-item {
				h1 {
					font-size: 6.6vw;
					height: calc(#{$multiBit} * 30);
					line-height: calcLineHeight($multiBit , 14);
					margin-bottom: calc(#{$multiBit} * 6);
					margin-top: calc(#{$multiBit} * 16);
					text-align: center;
				}

				h2 {
					font-size: 5.6vw;
					height: calc(#{$multiBit} * 30);
					line-height: calcLineHeight($multiBit , 14);
					margin-bottom: calc(#{$multiBit} * 6);
					margin-top: calc(#{$multiBit} * 16);
					text-align: center;
				}
			}

			.field-name-field-subhead {
				h3 {
					font-size: 6.6vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 12);
					margin-bottom: calc(#{$multiBit} * 12);
					margin-top: calc(#{$multiBit} * 0);
				}

				h4 {
					font-size: 4vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 9);
					margin-bottom: calc(#{$multiBit} * 12);
					margin-top: calc(#{$multiBit} * 0);
				}

				h5 {
					font-size: 3vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 7);
					margin-bottom: calc(#{$multiBit} * 12);
					margin-top: calc(#{$multiBit} * 0);
				}
			}

			.button-close {
			}

			.button-play {
				font-size: 6.6vw !important;
				width: 90% !important;
				text-align: center !important;
			}

			.ds-1col {
				.column-0,
				.column-1,
				.column-2 {
					float: none;
					width: 100%;

					&:before {
						padding-top: 106.610%;
					}
				}
			}
		}

		&.multi-column-4 {
			.field-name-field-title-item {
				h1 {
					font-size: 6.6vw;
					height: calc(#{$multiBit} * 30);
					line-height: calcLineHeight($multiBit , 14);
					margin-bottom: calc(#{$multiBit} * 6);
					margin-top: calc(#{$multiBit} * 16);
					text-align: center;
				}

				h2 {
					font-size: 5.6vw;
					height: calc(#{$multiBit} * 30);
					line-height: calcLineHeight($multiBit , 14);
					margin-bottom: calc(#{$multiBit} * 6);
					margin-top: calc(#{$multiBit} * 16);
					text-align: center;
				}
			}

			.field-name-field-subhead {
				h3 {
					font-size: 6.6vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 12);
					margin-bottom: calc(#{$multiBit} * 12);
					margin-top: calc(#{$multiBit} * 0);
				}

				h4 {
					font-size: 4vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 9);
					margin-bottom: calc(#{$multiBit} * 12);
					margin-top: calc(#{$multiBit} * 0);
				}

				h5 {
					font-size: 3vw;
					height: calc(#{$multiBit} * 36);
					line-height: calcLineHeight($multiBit , 7);
					margin-bottom: calc(#{$multiBit} * 12);
					margin-top: calc(#{$multiBit} * 0);
				}
			}

			.button-play {
				font-size: 6.6vw !important;
				width: 90% !important;
				text-align: center !important;
			}

			.ds-1col {
				.column-0,
				.column-1,
				.column-2,
				.column-3 {
					float: none;
					width: 100%;

					&:before {
						padding-top: 106.610%;
					}
				}
			}
		}
	}
}
