/*************************
*   Flex Video Styles
*   Rhino Hooton
*   1/1/16
/************************/


/*  elements
**************************************************/
.pane-bundle-multi-column {
	background-repeat: none;
	background-size: 100% auto;
	clear: both;
	display: block;
	margin-bottom: calc(#{$multiBit} * 2);
	overflow: hidden;
	position: relative;

	.flexible-template-content {
		// height: 100%;
		// left: 0;
		// overflow: hidden;
		// position: absolute;
		// top: 0;
		// width: 100%;

		/* disable fields */
		.field-name-field-background-color,
		.field-name-field-background-image,
		.field-name-field-background-video {
			display: none;
		}

		/* shared */
		// .field-name-field-title-item,
		// .field-name-field-subhead,
		// .field-name-field-cta {
		// 	position: relative;
		// 	z-index: 2;
		// }

		.field-name-field-title-item,
		.field-name-field-subhead,
		.button-close,
		.button-play,
		.field-name-field-cta,
		.field-name-field-video-tout {
			clear: both;
			display: block;
			overflow: hidden;
		}

		.field-name-field-title-item,
		.field-name-field-subhead,
		.button-play,
		.field-name-field-cta,
		.field-name-field-video-tout {
			width: 74%;
			margin: 0 auto;
			text-align: center;
		}

		/* fields */
		.field-name-field-title-item {
		}

		.field-name-field-subhead {
		}

		.button-close {
		}

		.button-play {
		}

		.field-name-field-cta {
		}

		.field-name-field-video-tout {
		}

		// .field-name-field-title-item,
		// .field-name-field-subhead,
		// .field-name-field-background-color,
		.button-close,
		// .button-play,
		// .field-name-field-cta,
		.field-name-field-video-tout {
			display: none;
		}

		/* header */
		h1,
		h2,
		h3,
		h4,
		h5 {
			display: block;
			font-weight: 100;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;

			p {
				margin: 0;
			}
		}

		/* cta */
		.field-name-field-cta {
			a {
				border: 1px solid $color-white;
				color: $color-white;
				display: inline-block;
				margin: 0 auto;
				padding: 1.15vw 2.85vw;
				position: relative;
				z-index: 2;
				font-size: 1.429vw;
				font-weight: 100;

				&:before {
					background: $color-white;
					content: '';
					display: block;
					height: 100%;
					left: 0;
					opacity: .15;
					position: absolute;
					top: 0;
					transition: all .5s ease;
					width: 100%;
					z-index: 1;
				}

				&:hover {
					&:before {
						opacity: .45;
						transition: all .5s ease;
					}
				}
			}
		}
	}

	&.multi-column-1,
	&.multi-column-2,
	&.multi-column-3,
	&.multi-column-4 {
		.column-0,
		.column-1,
		.column-2,
		.column-3 {
			display: block;
			float: left;
			overflow: hidden;
			position: relative;

			&:before {
				content: "";
				display: block;
				position: relative;
				width: 100%;
			}

			.ds-1col {
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}

	&.multi-column-1 {
		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * 5);
				line-height: calcLineHeight($multiBit , 5);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * 8);
				line-height: calcLineHeight($multiBit , 4);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}

			h4 {
				font-size: 1.429vw;
				height: calc(#{$multiBit} * 6);
				line-height: calcLineHeight($multiBit , 3);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * 6);
				line-height: calcLineHeight($multiBit , 2);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}
		}

		.button-close {
		}

		.button-play {
		}

		.field-name-field-cta {
		}

		.field-name-field-video-tout {
		}

		.ds-1col {
			.column-0 {
				background: #294f69;
				clear: both;
				float: none;
				width: 100%;

				&:before {
					padding-top: 28.929%;
				}

				.ds-1col {
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}

	&.multi-column-2 {
		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * 5);
				line-height: calcLineHeight($multiBit , 5);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * 8);
				line-height: calcLineHeight($multiBit , 4);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}

			h4 {
				font-size: 1.429vw;
				height: calc(#{$multiBit} * 6);
				line-height: calcLineHeight($multiBit , 3);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * 6);
				line-height: calcLineHeight($multiBit , 2);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}
		}

		.button-close {
		}

		.button-play {

		}

		.field-name-field-cta {
		}

		.field-name-field-video-tout {
		}

		.ds-1col {

			.column-0,
			.column-1 {
				&:before {
					padding-top: 57.858%;
				}
			}

			.column-0 {
				background: #294f69;
				clear: left;
				width: 50%;
			}

			.column-1 {
				background: #3e4a64;
				clear: right;
				width: 50%;
			}
		}
	}

	&.multi-column-3 {
		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * 5);
				line-height: calcLineHeight($multiBit , 5);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * 8);
				line-height: calcLineHeight($multiBit , 4);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}

			h4 {
				font-size: 1.429vw;
				height: calc(#{$multiBit} * 6);
				line-height: calcLineHeight($multiBit , 3);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * 6);
				line-height: calcLineHeight($multiBit , 2);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}
		}

		.button-close {
		}

		.button-play {
		}

		.field-name-field-cta {
		}

		.field-name-field-video-tout {
		}

		.ds-1col {
			.column-0,
			.column-1,
			.column-2 {
				&:before {
					padding-top: 86.798%;
				}
			}

			.column-0 {
				background: #294f69;
				clear: left;
				width: 33.33%;
			}

			.column-1 {
				background: #3e4a64;
				width: 33.33%;
			}

			.column-2 {
				background: #898b8c;
				clear: right;
				width: 33.33%;
			}
		}
	}

	&.multi-column-4 {
		.field-name-field-title-item {
			h1 {
				font-size: 4.3vw;
				height: calc(#{$multiBit} * 7);
				line-height: calcLineHeight($multiBit , 7);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}

			h2 {
				font-size: 3.6vw;
				height: calc(#{$multiBit} * 5);
				line-height: calcLineHeight($multiBit , 5);
				margin-bottom: calc(#{$multiBit} * 1);
				margin-top: calc(#{$multiBit} * 4);
			}
		}

		.field-name-field-subhead {
			h3 {
				font-size: 1.786vw;
				height: calc(#{$multiBit} * 8);
				line-height: calcLineHeight($multiBit , 4);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}

			h4 {
				font-size: 1.429vw;
				height: calc(#{$multiBit} * 6);
				line-height: calcLineHeight($multiBit , 3);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}

			h5 {
				font-size: 1.072vw;
				height: calc(#{$multiBit} * 6);
				line-height: calcLineHeight($multiBit , 2);
				margin-bottom: calc(#{$multiBit} * 0);
				margin-top: calc(#{$multiBit} * 0);
			}
		}

		.button-close {
		}

		.button-play {
		}

		.field-name-field-cta {
		}

		.field-name-field-video-tout {
		}

		.ds-1col {
			.column-0,
			.column-1,
			.column-2,
			.column-3 {
				&:before {
					padding-top: 115.717%;
				}
			}

			.column-0 {
				background: #294f69;
				clear: left;
				width: 25%;
			}

			.column-1 {
				background: #3e4a64;
				width: 25%;
			}

			.column-2 {
				background: #898b8c;
				width: 25%;
			}

			.column-3 {
				background: #170c50;
				clear: right;
				width: 25%;
			}
		}
	}
}

/* video open */
// .node-type-flexible-template {
// 	&.video-open {
// 		#header {
// 			z-index: 1;
// 		}

// 		#main-wrapper {
// 			z-index: 100;

// 			.video-container-open {
// 				.button-close,
// 				.field-name-field-background-video {
// 					display: block;
// 				}
// 			}
// 		}
// 	}
// }


/*  tablet & mobile
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
	// .pane-bundle-feature-video {
	// 	background-position: center center;
	// 	background-size: auto 100%;
	// 	margin-bottom: 0;

	// 	&:before {
	// 		display: none;
	// 	}

	// 	.flexible-template-content {
	// 		left: auto;
	// 		position: relative;
	// 		top: auto;
	// 		padding: 40px 0;

	// 		/* header */
	// 		h1,
	// 		h2 {
	// 			margin: 0 40px 15px;
	// 			width: calc(100% - 80px);
	// 		}

	// 		h1 {
	// 			font-size: 60px;
	// 		}

	// 		h2 {
	// 			font-size: 50px;
	// 		}

	// 		h3 {
	// 			font-size: 25px;
	// 		}

	// 		h4 {
	// 			font-size: 20px;
	// 		}

	// 		h5 {
	// 			font-size: 15px;
	// 		}

	// 		/* subhead */
	// 		.field-name-field-title-item,
	// 		.field-name-field-subhead {
	// 			width: calc(100% - 80px);
	// 		}

	// 		/* play button */
	// 		.button-play {
	// 			border-bottom: 30px solid transparent;
	// 			border-left: 50px solid $color-white;
	// 			border-top: 30px solid transparent;
	// 			margin: 80px auto;

	// 			&:before {
	// 				height: 140px;
	// 				left: -100px;
	// 				top: -69px;
	// 				width: 140px;
	// 			}

	// 			&:after {
	// 				height: 120px;
	// 				left: -90px;
	// 				top: -59px;
	// 				width: 120px;
	// 			}
	// 		}

	// 		/* cta */
	// 		.field-name-field-cta {
	// 			a {
	// 				font-size: 45px;
	// 				width: calc(100% - 80px);
	// 			}
	// 		}
	// 	}
	// }
}
