/*************************
*   Flex Video Styles
*   Rhino Hooton
*   1/1/16
/************************/


/*  elements
**************************************************/
.pane-bundle-long-form-copy {
	background-repeat: none;
	background-size: 100% auto;
	clear: both;
	display: block;
	margin-bottom: calc(#{$multiBit} * 2);
	overflow: hidden;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	.flexible-template-content {
		margin: 0 auto;
		width: 74%;

		/* header */
		h1,
		h2,
		h3,
		h4,
		h5 {
			display: block;
			font-weight: 100;
			margin: 0 auto;
			overflow: hidden;
			text-align: center;

			p {
				margin: 0;
			}
		}

		p {

		}

		.drop_cap {
			float: left;
			font-size: 60px;
			line-height: 58px;
			padding-right: 6px;
		}

		.field-name-field-image {
			width: 48%;
			margin-bottom: calc(#{$multiBit} * 2);

			img {
				display: block;
				height: auto;
				width: 100%;
			}

			p {
				margin-top: calc(#{$multiBit} * 2);
				margin-bottom: 0;
			}
		}
	}

	&.image-align-left {
		.field-name-field-image {
			float: left;
			margin-right: calc(#{$multiBit} * 4);
		}
	}

	&.image-align-right {
		.field-name-field-image {
			float: right;
			margin-left: calc(#{$multiBit} * 4);
		}	
	}
}


/*  tablet & mobile
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
	.pane-bundle-long-form-copy {
		.flexible-template-content {
			margin: 0 auto;
			width: 90%;

			/* header */
			h1,
			h2,
			h3,
			h4,
			h5 {
				display: block;
				font-weight: 100;
				margin: 0 auto;
				overflow: hidden;
				text-align: center;

				p {
					margin: 0;
				}
			}

			.field-name-field-image {
				display: block;
				margin: 0 auto;
				margin-bottom: calc(#{$multiBit} * 4);
				width: 100%;

				img {
					display: block;
					height: auto;
					width: 100%;
				}

				p {
					margin-bottom: 0;
					margin-top: calc(#{$multiBit} * 4);
				}
			}
		}

		&.image-align-left {
			.field-name-field-image {
				float: none;
			}
		}

		&.image-align-right {
			.field-name-field-image {
				float: none;
			}
		}
	}
}
