/*************************
*   List Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
.pane-bundle-list-columns {
	clear: both;
	display: block;
	margin: 0;
	overflow: hidden;

	h2 {
		@extend %side-bar-header;
	}

	.column-container {
		border: none;
		float: left;
		height: 175px;
		margin: 0 1.5% 20px;
		padding: 0;
		width: 17%;

		.column-title {
			font-size: 14px;
			font-weight: 600;

			a {
				color: $color-leidos-purple-light;
				display: block;
				margin-bottom: 5px;

				&:hover {
					color: $color-leidos-purple-dark;
				}
			}
		}

		.column-list {
			margin: 0;
			padding: 0;

			.column-list-item {
				color: $color-black;
				font-size: 11px;
				list-style: none;
				margin-bottom: 5px;
				padding-left: 15px;
				position: relative;

				&:before {
					color: $color-leidos-purple-light;
					content: '\2022';
					display: block;
					height: 10px;
					left: 5px;
					line-height: 10px;
					position: absolute;
					text-align: center;
					top: calc(50% - 5px);
					width: 5px;
				}
			}
		}

		div {
			a {
				text-transform: capitalize;
			}
		}

		@media only screen and (min-width: 961px) {
			&:nth-child(5n - 4) {
				clear: left;
			}

			&:nth-child(5n) {
				clear: right;
			}
		}
	}
}

/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {
	.pane-bundle-list-columns {
		margin-bottom: 20px;
		// border-bottom: 1px solid $color-gray-medium-light;

		.column-container {
			width: 30%;

			&:nth-child(3n - 2) {
				clear: left;
			}

			&:nth-child(3n) {
				clear: right;
			}
		}
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
	.pane-bundle-list-columns {
	// border-bottom: 1px solid $color-gray-medium-light;

		.column-container {
			float: none;
			width: 97%;
		}
	}
}