/*************************
*   Pager Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
.item-list {
	.pager {
		margin: 0;
		padding: 0;

		.pager-current {
			background: $color-leidos-purple-light;
			color: $color-white;
		}
	}
}


/*  tablet
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
}
