/*************************
*   Rotator Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* x */
.pane-bundle-content {
	margin-top: 20px;
	line-height: 24px;

	h2 {
		font-family: "AvenirLT-Book", Arial, sans-serif;
		font-weight: normal;
		color: $color-leidos-purple-dark;
		font-size: 24px;
		margin-top: 0;
	}
}


/*  tablet
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {

}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {

}
