/*************************
*   Rotator Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
.pane-bundle-rotator,
.optional-rotator {
	float: none;
	width: 100%;

	.pane-title {
		display: none;
	}

	.flexslider {
		border-radius: 0;
		border: none;
		height: 274px;
		margin: 0;
		width: 100%;

		ul {
			height: 274px;
			left: 0px;
			margin: 0;
			padding: 0;
			position: absolute;
			top: 0px;
			width: 100%;

			li {
				height: 274px;
				overflow: hidden;
				width: 100%;

				.desktop-image,
				.tablet-image,
				.mobile-image {
					display: none;
					height: 274px;
					left: 0;
					overflow: hidden;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: -1;

					img {
						height: 274px;
						width: 990px;
					}
				}

				@media only screen and (min-width: 961px) {
					.desktop-image {
						display: block;
					}
				}
				
				.rotator-content {
					background: rgba(255, 255, 255, 0.80);
					bottom: 20px;
					left: 50px;
					overflow: hidden;
					position: absolute;
					width: 450px;

					&.hide-1 {
						display: none;
					}

					.views-field-field-hide-information-box,
					.views-field-title,
					.views-field-body,
					.views-field-field-rotator-link {
						z-index: 1;
						overflow: hidden;
					}

					.views-field-field-hide-information-box {

					}

					.views-field-title {
						color: $color-black;
						font-family: "AvenirLT-Book", Arial, sans-serif;
						font-size: 22px;
						max-height: 66px;
						padding: 10px 20px 0 20px;

						a {
							color: $color-black;
						}
					}

					.views-field-body {
						color: $color-black;
						max-height: 74px;
						padding: 0 20px 20px 20px;

						p {
							margin: 0;
						}
					}

					.views-field-field-rotator-link {
						max-height: 32px;
						padding: 0 20px 10px 20px;

						a {
							background-color: $color-leidos-purple-light;
							background-image: -o-linear-gradient(right, #7B1F7F 0%, #3B1363 100%);
							background-image: -webkit-linear-gradient(right, #7B1F7F 0%, #3B1363 100%);
							background-image: linear-gradient(to left, #7B1F7F 0%, #3B1363 100%);
							color: $color-white;
							display: block;
							font-family: "AvenirLT-Black", Arial, sans-serif;
							font-size: 11px;
							font-weight: normal;
							margin: 0px;
							padding: 8px 10px;
							text-transform: uppercase;
							width: 90px;

							&:hover {
								color: $color-leidos-purple-soft-light;
							}
						}		
					}
				}
			}
		}

		.flex-control-nav {
			bottom: 20px;
			color: transparent;
			font-size: 0;
			right: 20px;
			text-align: right;
			z-index: 2;

			&.flex-control-paging {
				 li {
					 a {
					 	background: $color-white;

					 	&:hover,
					 	&.flex-active {
							background: $color-leidos-purple-dark;
					 	}
					 }
				 }
			}
		}

		.flex-direction-nav {
			display: none;
		}
	}
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {
	.pane-bundle-rotator,
	.optional-rotator {
		.flexslider {
			ul {
				li {
					.tablet-image {
						display: block;

						img {
							height: 274px;
							width: auto;
						}
					}
					
					.rotator-content {
						bottom: 50px;

						.views-field-title {
							padding: 10px 20px;
						}

						.views-field-body {
							display: none;
						}
					}
				}
			}

			.flex-control-nav {
				left: 50px;
				bottom: 20px;
				text-align: left;
			}
		}
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
	.pane-bundle-rotator,
	.optional-rotator {
		.flexslider {
			ul {
				li {
					.mobile-image {
						display: block;

						img {
							height: 274px;
							width: auto;
						}
					}
					
					.rotator-content {
						bottom: 50px;
						left: 20px;
						width: calc(100% - 40px);

						.views-field-title {
							padding: 10px 20px;
						}

						.views-field-body {
							display: none;
						}

						.views-field-field-rotator-link {
							a {
								text-align: center;
								width: calc(100% - 20px);
							}
						}
					}
				}
			}

			.flex-control-nav {
				left: 20px;
				bottom: 20px;
				text-align: center;
				padding: 0;
				margin: 0;
				width: calc(100% - 40px);
			}
		}
	}

	// .pane-bundle-rotator,
	// .optional_rotator {
	// 	.flexslider {
	// 		ul {
	// 			li {
	// 				.mobile-image {
	// 					display: block;
	// 				}

	// 				.views-field-title {
	// 					margin-top: 105px;

	// 					a {
	// 						display: block;
	// 						margin-bottom: 10px;
	// 					}
	// 				}

	// 				.views-field-body {
	// 					display: none;
	// 				}



	// 				.views-field-title,
	// 				.views-field-body,
	// 				.views-field-field-rotator-link {
	// 					margin-left: 20px;
	// 					width: calc(100% - 80px);
	// 				}
	// 			}
	// 		}

	// 		.flex-control-nav {
	// 			right: 0px;
	// 			text-align: center;
	// 		}
	// 	}
	// }
}
