.staticContent {
    .fixedNav {
        background-color: #e8e8e8;
        border-bottom: solid 1px #ababab;
        padding: 0 4.5% 0 4.9%;
        text-align: center;

        li {
            display: inline-block;
            vertical-align: middle;

            + li {
                margin-left: 1.8%;
            }
        }
        a {
            color: #1f1646;
            display: block;
            font-size: 12px;
            font-family: AvenirLT-Black, Arial, sans-serif;
            padding: 1.75em 0;
            text-transform: uppercase;

            &.noPad {
                padding: 0;
            }

            &:hover {
                color: #850f88;
            }
        }
        img {
            display: block;
            margin: 15px 0;
            max-height: 30px;
        }
        iframe {
            margin: 20px 0;
        }
        span {
            float: left;

            + span {
                margin-left: 10px;
            }
        }
    }
    .sticky-wrapper {
        @include clearfix;
        margin-bottom: 110px;
        position: relative;
        z-index: 9999;
    }

    /*  tablet & mobile
    **************************************************/
    @media only screen and (max-width: 960px) {
        .fixedNav {
            li {
                + li {
                    margin-left: 1.2em;
                }
            }
            a {
                font-size: 16px;
                padding: 1.25em 0;
            }
        }

        .sticky-wrapper {
            margin-bottom: 100px;
        }
    }

    /*  mobile-only
    **************************************************/
    @media only screen and (max-width: 720px) {
        .fixedNav {
            position: relative !important;
        }
    }
    @media only screen and (max-height: 350px) {
        .fixedNav {
            position: relative !important;
        }
    }
}
