.staticContent {
    box-sizing: border-box;

    &:before {
        clear: both;
        content: "";
        display: table;
        height: 0;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    section,
    nav,
    > div {
        @include clearfix;
    }

    img {
        height: auto;
        max-width: 100%;
    }

    heading {
        display: block;
    }

    h2 {
        font-family: AvenirLT-Book, Arial, sans-serif;
        font-size: 60px;
        line-height: 67px;
        margin-bottom: 13px;
        text-transform: none;
    }

    h3 {
        a {
            color: #1f1646;
            font-family: AvenirLT-Book, Arial, sans-serif;
        }
    }

    ol,
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        &:before {
            display: none;
        }
    }

    dl,
    dt,
    dd {
        line-height: normal;
        margin: 0;
        padding: 0;
    }

    .borderImage {
        border: 8px solid #fff;
        box-shadow: 0 0 54px rgba(0, 0, 0, 0.1);
    }

    .arrowRight {
        background: url('/sites/all/themes/leidos/static-pages/images/sprites-icons-buttons/sprites-s6882c8ed69.png')  0 -34px no-repeat;
        display: inline-block;
        height: 9px;
        margin-left: 10px;
        opacity: 0.5;
        overflow: hidden;
        text-indent: 102%;
        white-space: nowrap;
        width: 6px;
    }

    .cta {
        &__primary {
            display: inline-block;
            background-image: linear-gradient(to left, #3f1d69 0%, #0d074d 100%);
            background-color: #1f1545;
            color: #fff;
            font-family: AvenirLT-Black, Arial, sans-serif;
            font-size: 12px;
            line-height: 16px;
            margin: 30px 0 5px;
            padding: 17px 20px;
            position: relative;
            text-transform: uppercase;

            &:hover {
                background-image: linear-gradient(to left, #7b1f7f 0%, #3b1363 100%);
                color: #fff;
            }
        }

        &__secondary {
            background: transparent;
            border: 1px solid #646464;
            color: #fff;
            display: inline-block;
            font-family: AvenirLT-Black, Arial, sans-serif;
            font-size: 12px;
            line-height: 16px;
            margin: 30px 0 5px;
            padding: 18px 20px;
            position: relative;
            text-transform: uppercase;
            transition: border-color 0.4s;

            .arrowRight {
                transition: opacity 0.4s;
            }

            &:hover {
                border-color: #fff;

                .arrowRight {
                    opacity: 1;
                }
            }
        }
    }

    .subhead {
        padding-bottom: 1.2em;
        padding-top: 1.2em;

        h2 {
            color: #1f1646;
            display: inline-block;
            font-family: AvenirLT-Black, Arial, sans-serif;
            font-size: 18px;
            margin-right: 20px;
            text-transform: uppercase;
        }

        &__head {
            line-height: normal;

            &:after {
                background: url('/sites/all/themes/leidos/static-pages/images/sprites-icons-buttons/sprites-s6882c8ed69.png') no-repeat;
                background-position: 0 -1034px;
                color: #c2c2c2;
                content: '';
                display: inline-block;
                font-size: 24px;
                height: 17px;
                margin-left: 20px;
                position: relative;
                top: 3px;
                width: 9px;
            }
        }

        &__link {
            color: #850f88;
            display: inline-block;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 13px;
            text-decoration: none;
            white-space: nowrap;
        }

    }

    .nextSection {
        background: url(/sites/all/themes/leidos/static-pages/images/backgrounds/scroll_down_bg.png) no-repeat;
        border: 0;
        bottom: -28px;
        display: block;
        height: 28px;
        margin: 0 auto 40px auto;
        text-indent: -9999px;
        width: 82px;

        &:after {
            background: url(/sites/all/themes/leidos/static-pages/images/sprites-icons-buttons/sprites-s6882c8ed69.png) 0 -24px no-repeat;
            content: '';
            display: block;
            height: 10px;
            margin: -10px auto 5px auto;
            width: 15px;
        }
    }

    /* Slick Slider */
    .slick-slider {
        position: relative;

        display: block;

        -moz-box-sizing: border-box;
             box-sizing: border-box;

        -webkit-user-select: none;
           -moz-user-select: none;
            -ms-user-select: none;
                user-select: none;

        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
            touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
    }

    .slick-list {
        position: relative;

        display: block;
        overflow: hidden;

        margin: 0;
        padding: 0;
    }
    .slick-list:focus {
        outline: none;
    }
    .slick-list.dragging {
        cursor: pointer;
        cursor: hand;
    }

    .slick-slider .slick-track,
    .slick-slider .slick-list {
        -webkit-transform: translate3d(0, 0, 0);
           -moz-transform: translate3d(0, 0, 0);
            -ms-transform: translate3d(0, 0, 0);
             -o-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
    }

    .slick-track {
        position: relative;
        top: 0;
        left: 0;

        display: block;
    }
    .slick-track:before,
    .slick-track:after {
        display: table;

        content: '';
    }
    .slick-track:after {
        clear: both;
    }
    .slick-loading .slick-track {
        visibility: hidden;
    }

    .slick-slide {
        display: none;
        float: left;

        height: 100%;
        min-height: 1px;
    }
    [dir='rtl'] .slick-slide {
        float: right;
    }
    .slick-slide img {
        display: block;
    }
    .slick-slide.slick-loading img {
        display: none;
    }
    .slick-slide.dragging img {
        pointer-events: none;
    }
    .slick-initialized .slick-slide {
        display: block;
    }
    .slick-loading .slick-slide {
        visibility: hidden;
    }
    .slick-vertical .slick-slide {
        display: block;

        height: auto;

        border: 1px solid transparent;
    }
    /* End Slick Slider */


}
