.staticContent .findYourChallenge {
    padding: 0 0 40px 0;

    h2 {
        color: #850f88;
        font-family: AvenirLT-Black, Arial, sans-serif;
        font-size: 23px;
        line-height: normal;
        margin-bottom: 26px;
        text-transform: uppercase;

        span {
            display: block;
        }

        &:first-line {
            color: #1f1646;
        }
    }
    p {
        color: #8b8b8b;
        font-family: AvenirLT-Book, Arial, sans-serif;
        font-size: 15px;
        line-height: 1.6em;
        margin-top: 10px;
    }
}
