.staticContent {
    box-sizing: border-box;

    *, *:before, *:after {
        box-sizing: inherit;
    }

    section {
        @include clearfix;
    }

    heading {
        display: block;
    }

    h2 {
        font-family: AvenirLT-Book, Arial, sans-serif;
        font-size: 60px;
        line-height: 67px;
        margin-bottom: 13px;
        text-transform: none;
    }

    h3 {
        a {
            color: #1f1646;
            font-family: AvenirLT-Book, Arial, sans-serif;
        }
    }

    ol,
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        &:before {
            display: none;
        }
    }

    .borderImage {
        border: 8px solid #fff;
        box-shadow: 0 0 54px rgba(0, 0, 0, 0.1);
    }

    .cta {
        &__primary {
            display: inline-block;
            background-image: linear-gradient(to left, #3f1d69 0%, #0d074d 100%);
            background-color: #1f1545;
            color: #fff;
            font-family: AvenirLT-Black, Arial, sans-serif;
            font-size: 12px;
            line-height: 16px;
            margin: 30px 0 5px;
            padding: 17px 20px;
            position: relative;
            text-transform: uppercase;

            &:hover {
                background-image: linear-gradient(to left, #7b1f7f 0%, #3b1363 100%);
                color: #fff;
            }
        }
    }

    .arrowRight {
        background: url('https://www.leidos.com/sites/all/themes/leidos/images/sprites/sprites-s6882c8ed69.png')  0 -34px no-repeat;
        display: inline-block;
        height: 9px;
        margin-left: 10px;
        opacity: .5;
        overflow: hidden;
        text-indent: 102%;
        white-space: nowrap;
        width: 6px;
    }

    .subheadLink {
        color: #850f88;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        text-decoration: none;

        &:before {
            background: url('https://www.leidos.com/sites/all/themes/leidos/images/sprites/sprites-s6882c8ed69.png') no-repeat;
            background-position: 0 -1034px;
            color: #c2c2c2;
            content: '';
            display: inline-block;
            font-size: 24px;
            height: 17px;
            margin-right: 20px;
            position: relative;
            top: 3px;
            width: 9px;
        }
    }
}
