.staticContent .history {
    height: 460px;
    margin-bottom: 120px;
    overflow: scroll;
    width: 100%;

    &__list {
        @include clearfix;
        color: #fff;
        height: 460px;
        width: 3688px;
    }
    &__listInner {
        bottom: 80px;
        left: 10%;
        position: absolute;
        width: 70%;
    }
    &__event {
        float: left;
        height: 458px;
        position: relative;
        width: 614px;

        h2,
        h3 {
            color: #fff;
        }

        + .history__event {
            border-left: 1px solid #fff;
        }
    }
}
