.staticContent .heroCarousel {
    $heroCarousel: 'heroCarousel';

    position: relative;

    h1 {
        font-size: 60px;
    }
    p {
        font-size: 18px;
    }

    &__item {
        @include aspect-ratio(1270, 770);
        background-position: 50% 50%;
        background-size: cover;

        &--v1 {
            .#{heroCarousel}__inner {
                bottom: 80px;
                left: 50%;
                top: auto;
                transform: translateX(-50%);
                width: 70%;
            }
            h1 {
                text-indent: -9999px;
            }
            p {
                color: #fbb53b;
                display: inline-block;
                font-size: 25px;
                font-weight: bold;
                left: 230px;
                line-height: 1.25em;
                margin: -10px 0 0 0;
                position: relative;
                text-transform: uppercase;
                width: 85%;
            }
            .cta {
                bottom: 0;
                left: 5%;
                margin: 0;
                position: absolute;
            }
        }
        &--v2 {
            text-align: center;

            h1 {
                color: #fff;
                font-size: 110px;
                font-size: 5vw;
                margin: 18% 0 0 0;
            }
            p {
                color: #e6e7ec;
                font-family: AvenirLT-Book, Arial, sans-serif;
                font-size: 35px;
                font-size: 2.5vw;
                line-height: normal;
                margin: 0 auto;
                width: 60%;
            }
        }
        &--v3 {
            text-align: left;

            .#{heroCarousel}__inner {
                line-height: normal;
                margin-left: 6%;
                padding-top: 9%;
                width: 50%;
            }
            h1 {
                color: #850f88;
                margin: 0 0 20px 0;
                text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
            }
            p {
                color: #1f1646;
                font-size: 19px;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }
        &--v4 {
            text-align: right;

            .#{heroCarousel}__inner {
                padding-right: 40px;
                padding-top: 9%;
            }
            h1 {
                color: #fff;
                margin: 0;
            }
            p {
                color: #f7f9a6;
                font-size: 19px;
                margin-bottom: 0;
                text-transform: uppercase;
            }
        }
        &--v5 {

        }
        &--v6 {

        }
    }

    .slick-prev,
    .slick-next {
        border: 0;
        bottom: 35px;
        cursor: pointer;
        height: 18px;
        position: absolute;
        text-indent: -9999px;
        width: 11px;
        z-index: 5;
    }
    .slick-prev {
        background: url(https://www.leidos.com/sites/all/themes/leidos/images/home/pagination-left.png);
        left: 25%;

        &:hover {
            background: url(https://www.leidos.com/sites/all/themes/leidos/images/home/pagination-left-hover.png);
        }
    }
    .slick-next {
        background: url(https://www.leidos.com/sites/all/themes/leidos/images/home/pagination-right.png);
        right: 25%;

        &:hover {
            background: url(https://www.leidos.com/sites/all/themes/leidos/images/home/pagination-right-hover.png);
        }
    }
    .slick-dots {
        bottom: 35px;
        left: 0;
        position: absolute;
        right: 0;
        text-align: center;

        li {
            display: inline-block;

            button {
                background: #fff;
                border: 0;
                border-radius: 50%;
                cursor: pointer;
                height: 15px;
                text-indent: -9999px;
                width: 15px;

                &:hover {
                    background: #bebfbd;
                }
            }

            &.slick-active {
                button {
                    background: #bebfbd;
                }
            }

            + li {
                margin-left: 15px;
            }
        }
    }

    /*  tablet & mobile
    **************************************************/
    @media only screen and (max-width: 960px) {
        text-align: center;

        &__item {
            &--v1 {

                .#{heroCarousel}__inner {
                    bottom: 60px;
                }
                h1 {

                }
                p {
                    font-size: 16px;
                    left: 150px;
                    margin-top: 0;
                    text-align: left;
                }
                .cta {

                }
            }
            &--v2 {
                p {
                    width: 95%;
                }
            }
        }

        h1 {
            font-size: 40px;
        }
        p {
            // font-size: 20px;
        }
    }

    /*  mobile-only
    **************************************************/
    @media only screen and (max-width: 720px) {
        &__item {
            @include aspect-ratio(1500, 1780);

            &--v1 {
                background-position: 50% bottom;

                .#{heroCarousel}__inner {
                    width: 100%;
                }
                p {
                    left: 0;
                    margin-bottom: 20px;
                    text-align: center;
                    width: 100%;
                }
                .cta {
                    left: 0;
                    position: relative;
                }
            }
            &--v2 {
                h1 {
                    font-size: 40px;
                    margin-top: 35%;
                }
                p {
                    font-size: 20px;
                }
            }
            &--v3 {
                .#{heroCarousel}__inner {
                    width: 90%;
                }
            }
        }

        h1 {
            // font-size: 30px;
        }
        p {
            // font-size: 16px;
        }
    }
}
