.staticContent .imageTout {
    $imageTout: 'imageTout';

    max-width: 1180px;
    margin: 0 auto;
    padding: 0 4.5% 120px 4.9%;

    &__image {

    }
    &__meta {
        h3 {
            color: #8b8b8b;
            font-family: AvenirLT-Book, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.8em;
        }
    }

    &--imgRight,
    &--imgLeft {
        .#{$imageTout}__image {
            width: 33%;
        }
        .#{$imageTout}__meta {
            width: 51%;
        }
    }
    &--imgRight {
        background: url("https://www.leidos.com/sites/all/themes/leidos/images/right-slant-bg.png") no-repeat 56% 50px #fff;

        .#{$imageTout}__image {
            float: right;
        }
        .#{$imageTout}__meta {
            float: left;
        }
    }
    &--imgLeft {
        background: url("https://www.leidos.com/sites/all/themes/leidos/images/left-slant-bg.png") no-repeat 60% 100px #fff;

        .#{$imageTout}__image {
            float: left;
        }
        .#{$imageTout}__meta {
            float: right;
        }
    }
    &--imgFull {
        .#{$imageTout}__image {

        }
        .#{$imageTout}__meta {

        }
    }
    &--doubleText {
        .#{$imageTout}__meta {
            float: left;
            margin-right: 2%;
            padding: 36px 42px 50px;
            width: 48%;

            h2 {
                color: #1f1646;
                font-size: 40px;
                font-family: AvenirLT-Book, Arial, sans-serif;
                font-weight: normal;
                line-height: normal;
                margin: 0 0 20px;
            }
            p {
                font-family: AvenirLT-Book, Arial, sans-serif;
                font-size: 15px;
                line-height: 1.8em;
                margin-top: 10px;
            }
            a {
                color: #850f88;
                font-family: AvenirLT-Book, Arial, sans-serif;
                font-size: 16px;

                &:hover {
                    color: #1f1646;
                }
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
    &--tripleText {
        .#{$imageTout}__meta {
            float: left;
            margin-right: 10%;
            padding: 38px 0 58px;
            width: 26.667%;

            h2 {
                font-size: 28px;
                line-height: normal;
                margin: 0 0 12px;
            }
            p {
                font-family: AvenirLT-Book, Arial, sans-serif;
                font-size: 15px;
                line-height: 1.8em;
                margin-top: 10px;
            }
            a {
                color: #850f88;
                font-family: AvenirLT-Book, Arial, sans-serif;
                font-size: 16px;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    /*  tablet & mobile
    **************************************************/
    @media only screen and (max-width: 960px) {
        &__meta {
            h2 {
                font-size: 40px;
            }
        }
    }

    /*  mobile-only
    **************************************************/
    @media only screen and (max-width: 720px) {
        &__meta {
            width: 60%;

            h2 {
                font-size: 35px;
            }
        }

        &--imgRight,
        &--imgLeft {
            .#{$imageTout}__image,
            .#{$imageTout}__meta {
                float: none;
                width: 100%;
            }
        }
        &--doubleText,
        &--tripleText {
            .#{$imageTout}__meta {
                float: none;
                padding-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                width: 100%;
            }
        }
        &--doubleText {
            .#{$imageTout}__meta {
                h2 {
                    font-size: 30px;
                }
            }
        }
    }
}
