.staticContent .history {
    height: 460px;
    margin-bottom: 120px;
    position: relative;
    width: 100%;

    &__list {
        @include clearfix;
        color: #fff;
        height: 460px;
        white-space: nowrap;
        width: 3688px;
    }
    &__listInner {
        bottom: 80px;
        left: 10%;
        position: absolute;
        width: 70%;
    }
    &__event {
        float: left;
        height: 458px;
        position: relative;
        white-space: normal;
        width: 614px;

        h2,
        h3 {
            color: #fff;
        }

        h2 {
            font-family: AvenirLT-Book, Arial, sans-serif;
            font-size: 80px;
            line-height: 1.2em;
            margin: 0;
        }

        h3 {
            font-family: AvenirLT-Black, Arial, sans-serif;
            font-size: 16px;
            margin: 0 0 5px;
            text-transform: uppercase;
        }

        p {
            color: #fff;
            font-family: AvenirLT-Book, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.8em;
            margin-bottom: 0;

        }

        + .history__event {
            border-left: 1px solid #fff;
        }

        &:first-child {
            h2 {
                color: #867429;
                margin-bottom: 50px;
                font-size: 60px;
                font-family: AvenirLT-Book, Arial, sans-serif;
                margin: 10px 0 20px;
                text-transform: none;
            }
        }
    }

    .jspContainer {
        overflow: hidden;
        position: relative;
    }

    .jspPane {
        position: absolute;
    }

    .jspVerticalBar {
        position: absolute;
        top: 0;
        right: 0;
        width: 16px;
        height: 100%;
        background: red;
    }

    .jspHorizontalBar {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 16px;
        background: red;
    }

    .jspCap {
        display: none;
    }

    .jspHorizontalBar .jspCap {
        float: left;
    }

    .jspTrack {
        background: #dde;
        position: relative;
    }

    .jspDrag {
        background: #840087;
        border-radius: 7px;
        position: relative;
        top: 0;
        left: 0;
        cursor: pointer;
    }

    .jspHorizontalBar .jspTrack,
    .jspHorizontalBar .jspDrag {
        float: left;
        height: 100%;
    }

    .jspArrow {
        background: #50506d;
        text-indent: -20000px;
        display: block;
        cursor: pointer;
        padding: 0;
        margin: 0;
    }

    .jspArrow.jspDisabled {
        cursor: default;
        background: #80808d;
    }

    .jspVerticalBar .jspArrow {
        height: 16px;
    }

    .jspHorizontalBar .jspArrow {
        width: 16px;
        float: left;
        height: 100%;
    }

    .jspVerticalBar .jspArrow:focus {
        outline: none;
    }

    .jspCorner {
        background: #eeeef4;
        float: left;
        height: 100%;
    }

    /* Yuk! CSS Hack for IE6 3 pixel bug :( */
    * html .jspCorner {
        margin: 0 -3px 0 0;
    }

    /*  tablet & mobile
    **************************************************/
    @media only screen and (max-width: 960px) {

    }
}
