.staticContent .marqueeImage {
    overflow: visible;
    position: relative;
    z-index: -1;

    &__image,
    &__overlay {
        position: absolute;
        top: -300px;
        width: 100%;
    }

    &__image {
        height: 770px;
        background: url("https://www.leidos.com/sites/all/themes/leidos/images/about-hero.jpg") 100% -172px no-repeat;
    }
    &__overlay {
        background: transparent url("https://www.leidos.com/sites/all/themes/leidos/images/vertices-careers.svg") 50% 0 no-repeat;
        background: url("https://www.leidos.com/sites/all/themes/leidos/images/vertices-careers.png") 50% 0 no-repeat;
        height: 800px;
    }
}
