.staticContent .imageTout {
    $imageTout: 'imageTout';

    max-width: 1180px;
    margin: 0 auto;
    padding: 0 4.5% 120px 4.9%;

    &__image {
        width: 33%;
    }
    &__meta {
        width: 51%;

        h3 {
            color: #8b8b8b;
            font-family: AvenirLT-Book, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.8em;
        }
    }

    &--imgRight {
        background: url("https://www.leidos.com/sites/all/themes/leidos/images/right-slant-bg.png") no-repeat 56% 50px #fff;

        .#{$imageTout}__image {
            float: right;
        }
        .#{$imageTout}__meta {
            float: left;
        }
    }
    &--imgLeft {
        background: url("https://www.leidos.com/sites/all/themes/leidos/images/left-slant-bg.png") no-repeat 60% 100px #fff;

        .#{$imageTout}__image {
            float: left;
        }
        .#{$imageTout}__meta {
            float: right;
        }
    }

    /*  tablet & mobile
    **************************************************/
    @media only screen and (max-width: 960px) {

    }

    /*  mobile-only
    **************************************************/
    @media only screen and (max-width: 720px) {
        &__meta {
            width: 60%;

            h2 {
                font-size: 35px;
            }
        }

        &--imgRight,
        &--imgLeft {
            .#{$imageTout}__image,
            .#{$imageTout}__meta {
                float: none;
                width: 100%;
            }
        }
    }
}
