
/*************************
*   Verticies Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* shared */
#content {
	.top {
		pointer-events: none;
		position: relative;
		z-index: 5;

		.panels-flexible-region-industry_template-top_banner-inside {
			#theme-banner-div {
				background: transparent url("../images/vertices-subPage.png") no-repeat scroll center center / 100% 200px;
				display: block;
				height: 200px;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}

			.panel-separator {
				display: none;
			}

			.pane-page-title { 
				display: table;
				height: 100px;
				margin-left: calc(50% - 568px);
				position: absolute;
				top: 0;
				width: 50%;

				h1 {
					@extend %max-width;
					display: table-cell;
					height: 100px;
					padding: 0 0 0 20px;
					vertical-align: middle;
				}
			}
		}
	}
}


/* no vertices */
.no-vertices {
	#content {
		.top {
			padding: 0;

			.panels-flexible-region-industry_template-top_banner-inside {
				.pane-page-title {
					margin-left: calc(50% - 375px);

					h1 {
						color: $color-leidos-purple-dark;
					}
				}
			}
		}

		.panels-flexible-column.content-left {
			padding-top: 0px;
		}

		.panels-flexible-column.right-container {
			padding-top: 100px;
		}
	}

	&.no-title {
		#content {
			.panels-flexible-column.content-left,
			.panels-flexible-column.right-container {
				padding-top: 0px;
			}
		}		
	}
}

/* vertices */
.has-vertices {
	#content {
		.top {
			padding: 40px 0 0 0;

			.panels-flexible-region-industry_template-top_banner-inside {
				.pane-page-title { 
					h1 {
						color: $color-white;
					}
				}
			}
		}

		.panels-flexible-column.content-left,
		.panels-flexible-column.right-container {
			padding-top: 100px;
		}
	}

	&.has-rotator {
		#content {
			.panels-flexible-column.content-left {
				padding-top: 100px;
			}

			.panels-flexible-column.right-container {
				padding-top: 0px;
			}
		}
	}
}


/* clickable edit panel */
#content {
	.panels-ipe-editing {
		.top {
			pointer-events: inherent;
		}
	}
}


/*  tablet
**************************************************/
@media only screen /*and (min-width: 721px)*/ and (max-width: 960px) {
	#content {
		/* page headline & banner */
		.top {
			position: absolute;
			top: 54px;
			width: 100%;

			.panels-flexible-region-industry_template-top_banner-inside {
				#theme-banner-div {
					background: transparent url("../images/vertices-subPage.png") no-repeat scroll center center / 100% 100px;
					height: 100px;
				}

				.pane-page-title { 
					height: 40px;
					margin-left: 20px;

					h1 {
						height: 40px;
						font-size: 16px;
					}
				}
			}
		}
	}

	/* vertices */
	.has-vertices {
		#content {
			.panels-flexible-column.content-left {
				padding-top: 0px;
			}

			.panels-flexible-column.right-container {
				padding-top: 70px;
			}
		}

		&.has-rotator {
			#content {
				.panels-flexible-column.content-left {
					padding-top: 0px;
				}

				.panels-flexible-column.right-container {
					padding-top: 20px;
				}
			}
		}
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
	#content {
		.top {
			.panels-flexible-region-industry_template-top_banner-inside {
				#theme-banner-div {
					background: transparent url("../images/vertices-subPage.png") no-repeat scroll center center / 100% 100px;
					height: 100px;
				}

				.pane-page-title { 
					height: 40px;
					margin-left: 20px;
					margin-top: 2px;

					h1 {
						height: 40px;
						font-size: 16px;
					}
				}
			}
		}
	}

	/* vertices */
	.has-vertices {
		#content {
			.panels-flexible-column.content-left {
				padding-top: 0px;
			}

			.panels-flexible-column.right-container {
				padding-top: 70px;
			}
		}

		&.has-rotator {
			#content {
				.panels-flexible-column.content-left {
					padding-top: 0px;
				}

				.panels-flexible-column.right-container {
					padding-top: 20px;
				}
			}
		}
	}
}
