/*************************
*   Webform Styles
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
form.webform-client-form {
	/* form */
	.form-item {
		/* label */
		label {
			> div {
				background: pink;
			}
		}
	}

	/* description */
	.description {

	}

	/* errors */
	.error {

	}

	/* required */
	.required {

	}

	/* p */
	p {

	}

	/* button */
	button {

	}

	/* label */
	label {

	}

	/* select */
	select {

	}

	/* input & textarea shared */
	input,
	textarea {

		&:focus {

		}
	}

	/* input */
	input {

		.text {

		}

		.submit {

		}
	}

	input[type="radio"] {

	}

	input[type="checkbox"] {

	}

	/* textarea */
	textarea {

	}

	/* webform progress bar */
	.webform-progressbar {
		.webform-progressbar-outer {
			border: 1px solid red;
		}

		.webform-progressbar-inner {
			background-color: gold;
		}

		.webform-progressbar-page {
			border: 1px solid teal;

			.current {
				background-color: purple;
			}
		}
	}
}

.dependentFieldSlave {
    display: none;
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {


}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {


}