/*************************
*   Config
*   Rhino Hooton
*   6/29/15
/************************/


/***** compass set *****/
@import "compass/css3";


/***** primary colors *****/
/**
 *  @colors monochrome
 */
$color-black: #000;
$color-gray-dark: #777; // header links
$color-gray-light: #E8E8E8; // backgrounds
$color-gray-medium-dark: #646464; // dark copy
$color-gray-medium-light: #D0D0D0; // borders & light copy
$color-white: #fff;
/**
 *  @colors leidos colors
 */
$color-leidos-purple-dark: #1F1646; // hover & headers
$color-leidos-purple-light: #850F88; // links
$color-leidos-purple-medium: #8B8B8B;
/**
 *  @colors generic colors
 */
$color-leidos-purple-soft-dark: #cbbdcd; // left nav bottom border
$color-leidos-purple-soft-light: #dfd1e0; // left nav background
$color-leidos-purple-soft-medium: #dbcddd; // left nav top border
$color-mustard: #867429;
$color-capabilities: #00778b;  //default capabilities color


/***** section heights *****/
$header-height: 86px;
$header-height-mt: 78px;
$search-height: 78px;
$side-nav-height: 54px;

/***** fonts *****/
@font-face {
	font-family: "AvenirLT-Book";
	src: url("/sites/all/themes/leidos/fonts/4f32268f-fd86-4960-b72c-4bb1ba75ec6f.eot?#iefix") format("eot"),
	url("/sites/all/themes/leidos/fonts/939cba03-5b40-4d01-9bc5-7589eca863db.woff") format("woff"),
	url("/sites/all/themes/leidos/fonts/849bc5b9-a2ff-4343-977b-26ba8bd24a60.ttf") format("truetype"),
	url("/sites/all/themes/leidos/fonts/f67fa3b5-c1d1-488f-8e60-a828b9ad56a4.svg#f67fa3b5-c1d1-488f-8e60-a828b9ad56a4") format("svg");
}

@font-face {
	font-family: "AvenirLT-Black";
	src: url("/sites/all/themes/leidos/fonts/a24b3f55-c8c8-41a1-a77e-7cdf417d82f6.eot?#iefix") format("eot"),
	url("/sites/all/themes/leidos/fonts/5a05cf7f-f332-456f-ae67-d8c26e0d35b3.woff") format("woff"),
	url("/sites/all/themes/leidos/fonts/c33278bc-988e-440b-b4be-6acc095e6044.ttf") format("truetype"),
	url("/sites/all/themes/leidos/fonts/7bdad4a5-289b-42f9-b6fa-c5883b9e9f23.svg#7bdad4a5-289b-42f9-b6fa-c5883b9e9f23") format("svg");
}


/***** page *****/
/* body */
html,
body {
	color: $color-gray-medium-dark;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: normal;
	height: 100%;
}

/* headers */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $color-leidos-purple-dark;
	font-family: "AvenirLT-Book", Arial, sans-serif;
}

h2,
h3,
h4,
h5,
h6 {
	font-weight: 800;
	margin: 0px 0px 20px;
}

h1,
h2 {
	font-weight: normal;
}

h1 {
	font-size: 60px;
	margin: 0.67em 0;
}

h2 {
	font-size: 40px;

	&.block-header {
		font-family: "AvenirLT-Black", Arial, sans-serif;
		font-size: 18px;
		text-transform: uppercase;

		&.pane-title {
			margin: 0 0 20px;
		}
	}
}

h3 {
	font-size: 28px;
	font-weight: normal;
}

h4 {
	color: $color-leidos-purple-light;
	font-size: 16px;
	line-height: 23px;
}

h5,
h6 {
	font-family: sans-serif;
}

/* links */
a {
	color: $color-leidos-purple-light;
	transition: all .5s ease;

	&:hover {
		color: $color-leidos-purple-dark;
		text-decoration: none;
	}
}

hr {
	border: 0;
	clear: both;
	position: relative;
}

