/*************************
*   Extends
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* 100% */
%full-width {
	margin: 0;
	max-width: 100%;
	min-width: auto;
	width: 100%;
}

/* page width */
%max-width {
	margin: 0 auto;
	max-width: 1230px;
	min-width: auto;
	width: 100%;
}

/* header */
%header-data {
	height: $header-height;
}

/* hide text */
%hide-text {
	font-size: 0;
	color: transparent;
}


/*  tablet
**************************************************/
@media only screen and (min-width: 721px) and (max-width: 960px) {
	/* header */
	%header-data {
		height: $header-height-mt;
	}
}


/*  mobile
**************************************************/
@media only screen and (max-width: 720px) {
	/* header */
	%header-data {
		height: $header-height-mt;
	}
}
