/*************************
*   Extends
*   Rhino Hooton
*   6/29/15
/************************/


/*  elements
**************************************************/
/* page width */
%max-width {
	max-width: 1230px;
	min-width: auto;
	width: auto;
}

/* header */
%header-data {
	height: 86px;
}



